
<div class="container-fluid p-0">
    <div class="bgblue-color ">
      <div class="container p-0">
        <h4 class="hi-user text-white">Hi Casper,</h4>
        <p class="people-text text-white mb-0">Peopletech's data platform is engineered to help you improve your training data
          addition and iteration loop with the ability to Annotate data, Diagnose model performance, and Prioritize based on your
          results.</p>
      </div>
    </div>
  </div>
<div class="container mt-5">
    <div class="row">
        <div class="col-md-4">
            <div class="card box shadow  resp-space">
                <div class="card-header my-2 pe-1 ">
                    <div class="d-flex">
                        <h6 class="User-onboarded mb-0">Queries on Tasks</h6>
                        <div class="selectmonth">
                            <span class="align-self-center font13">Show:</span>
                            <select class="form-select font13">
                                <option>This month</option>
                                <option>August</option>
                                <option>July</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="card-body my-5">
                    <div class="row">
                        <div class="col-md-7">
                            <div class="internal-pad">
                                <span class="font25">2</span>
                            </div>
                        </div>
                        <div class="col-md-5 status-color">
                            <ul class="clr-list">
                                <li class="side-text"><img src="../assets/images/Ellipse 1.png"> Active</li>
                                <li class="side-text"><img src="../assets/images/Ellipse 2.png"> Resolved</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card box shadow  resp-space-1">
                <div class="card-header my-2 pe-1">
                    <div class="d-flex">
                        <h6 class="User-onboarded mb-0">Time spent</h6>
                        <div class="selectmonth">
                            <span class="align-self-center font13">Show:</span>
                            <select class="form-select font13">
                              <option>This month</option>
                              <option>August</option>
                              <option>July</option>
                            </select>
                          </div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-6">
                            <p class="time-text">Time spent</p>
                            <h4 class="zero">0</h4>
                            <p class="available-text">0% of total time</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card box shadow  resp-space">
                <div class="card-header">
                    <h6 class="profile my-2">Profile</h6>
                </div>
                <div class="card-body">
                    <div class="text-center">
                        <img class="user-icon " src="../assets/images/account_circle.png">
                        <h6 class="user-name">Amanda Lynn</h6>
                        <p class="admin-type">SME</p>
                    </div>
                    <p class="profile-text m-0">Profile completion</p>
                    <div class="row top-contact">
                        <div class="col-md-4 text-start">
                            <p class="percentage">100%</p>
                        </div>
                        <div class="col-md-4 text-center ">
                            <p class="p-name">Profile</p>
                        </div>
                    </div>
                    <div class="progress">
                        <div class="progress-bar bg-success" style="width:100%">
                        </div>

                    </div>
                    <div class="row">
                        <div class="col-md-6 text-start">
                            <p class="completed">Completed</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <p class="review-text">T-Put</p>
                            <img src="../assets/images/t-put-icon.svg"> <span class="zero-number mx-3">0</span>
                        </div>
                        <div class="col-md-6">
                            <p class="review-text">Task Score</p>
                            <img src="../assets/images/task-score-icon.svg"> <span class="zero-number mx-3">0</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="footer-end">
   
</div>