

<div class="container-fluid p-0">
    <div class="festive-data-colllection">
        <h5 class="fest-text mt-4 mx-3"><img src="../assets/images/festive-arrow.svg" width="25px"> Speech collection (Audio)</h5>
        <nav class="navbar navbar-expand-sm navbar-dark mt-4">
            <div class="container-fluid p-0">
                <!-- <a class="navbar-brand" href="javascript:void(0)"></a> -->
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mynavbar">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="mynavbar">
                    <ul class="navbar-nav me-auto">
                        <li class="nav-item">
                            <a class="nav-link"><img src="../assets/images/festive-star.svg" width="25px"> <span
                                    class="bg-green"> 3.6 </span>(214 Reviews)</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link"><img src="../assets/images/collectionicon-6.svg" width="22px"><span
                                    class="bg-green"> Collection</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link"><img src="../assets/images/festive-correct.svg" width="22px"><span
                                    class="bg-green"> 2</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link"><img src="../assets/images/festive-clock.svg" width="22px"><span
                                    class="bg-green"> 5-6min</span></a>
                        </li>
                    </ul>
                    <div>
                        <ul class="header-btns">
                            <li class="mt-auto">
                                <button class="training-btn btn">Ongoing Task</button>
                            </li>
                            <li>
                                <h6 class="orange-text mb-0">Progress</h6>
                                <button class="progress-btn btn mx-2 mt-1">1 of 2</button>
                            </li>
                            <li>
                                <h6 class="orange-text mb-0">Time remaining</h6>
                                <button class="time-btn btn mt-1">3:00</button>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </nav>
        <div class="container">
            <h5 class="collect-text mt-3">
                Record the following sentence</h5>
            <h6 class="image-upload mt-3">Please text me Jessica’s phone number </h6>
            <h6 class="follow-task mt-3">Follow the task specifications belowz
                <ul class="buttom-line mt-3">
                    <li>  You are required to record an audio clip as per instructed above in a silent background</li>
                    <li>  Please use the following CTA’s for different actions</li>
                </ul>
            </h6>
            <h6 class="icons-speech">
                <img src="../assets/images/start-recording.svg"> <span class="record-text mx-2">Record</span>
                <img src="../assets/images/stop-recording.svg"> <span class="record-text mx-2">Stop Recording </span>
                <img src="../assets/images/play-recording.svg"> <span class="record-text mx-2"> Listen to Recording </span>
            </h6>
           
        </div>
        <div class="speech-play">
        <div class="container">
            <div class="col-md-8 mt-5">
                <div class="card box shadow">
                    <div class="card-body">
                        <div class="text-center">
                    <img class="play-gif p-0" src="../assets/images/play-gif.svg" width="100%">
                    <p class="zero">0:09</p>
                    <img  src="../assets/images/Start-icon.svg" width="6%">
                    <img class="mx-3" src="../assets/images/Pause-icon.svg"  width="6%">
                    <img  src="../assets/images/Play-icon.svg"  width="6%">
                </div>
                    </div> 
                </div>
            </div>
        </div>
    </div>
        <div class="container-fluid p-0 ">
            <div class="row m-0">
                <div class="col-md-3 ml-auto">
                    <div class="card box shadow  resp-space chat-width">
                        <div class="card-header pe-1">
                            <div class="d-flex">
                                <p class="need-help"><img src="../assets/images/question-mark.svg"> Need help ?</p>
                            </div>
                        </div>
                        <div class="card-body my-auto paragraph-overflow">
                            <p>Please follow the instructions below in order to get assistance on tasks:
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                incididunt
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                incididunt
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                incididunt
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                incididunt
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                incididunt
                            </p>
                        </div>
                        <button class="chats-btn btn"><img class="mx-1" src="../assets/images/add-user-icon.svg">Chat
                            with an Expert</button>
                    </div>
                </div>
            </div>
            <footer class="buttom-section">
                <nav class="navbar-1 navbar-expand-sm navbar-dark mt-5">
                    <div class="container-fluid p-0">
                        <!-- <a class="navbar-brand" href="javascript:void(0)"></a> -->
                        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                            data-bs-target="#mynavbar">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse" id="mynavbar">
                            <ul class="navbar-nav me-auto">
                                <li class="nav-item">
                                    <a class="nav-link"><button class="submit-btn btn">Submit & Exit</button></a>
                                </li>
                            </ul>
                            <div class="">
                                <button class="exit-btn btn"><img src="../assets/images/exit-arrow.svg" width="18px">
                                    Exit to Task Programs</button>
                                <button class="skip-btn btn mx-2"><img src="../assets/images/skip_next.svg"
                                        width="18px"> Skip</button>
                                <button class="Next-btn btn mx-4"> Next Task <img
                                        src="../assets/images/arrow_forward.svg" width="18px"></button>
                            </div>
                        </div>
                    </div>
                </nav>
            </footer>
        </div>

       