
<div class="container">
    <button class="close" mat-button (click)="onNoClick()">X</button>
    <div class="row p-0">
      <h4 class="mb-0 instrs-header">Instructions</h4>
      <p class="mt-2 sub-para">Your task is to identify lanes in a roadway</p>
       <p class="detect-text">Detect the street lanes lines accurately for autonomous vehicle perception models making AI successful for self-driving cars in drivable areas.
        Here is an example that explains different lanes in a road:</p>
    </div>
    <div class="managed-images">
        <!-- <div class="row">
            <div class="col-md-5">
                <li class=""> <img src="../assets/images/managed-1.png"></li>
            </div>
            <div class="col-md-7">
                <p class="managed-text1  mx-2">Here is an example that explains different lanes in a road</p>
            </div>
            <div class="col-md-5">
                <li class="mt-2"><img src="../assets/images/managed-2.png"></li>
            </div>
            <div class="col-md-7">
                <p class="managed-text2 mt-2 mx-2">Polylines annotation is suitable in lane detection for autonomous vehicles defining bicycle, directions, divergence and opposite direction traffic to perceive the surroundings for safe and trouble-free driving of such vehicles backed with successful AI-models. Anolytics provides polyline annotation services with acceptable level of accuracy.</p>
            </div>
            <div class="col-md-5">
                <li class="mt-2"><img src="../assets/images/managed-3.png"></li>
            </div>
            <div class="col-md-7">
                <p class="managed-text3 mt-2 mx-2">Polylines helps to detect all types of lanes on varied roads including city streets or highways for self-driving vehicles. Just provide us the raw data of such streets and we have annotators who will recognize the lane marking by annotating lines on the object of interest making your autonomous vehicle keep recognizing such lanes on the road.</p>
            </div>
            <div class="col-md-5">
                <li class="mt-2"><img src="../assets/images/managed-4.png"></li>
            </div>
            <div class="col-md-7">
                <p class="managed-text4 mt-2 mx-2">Develop a sharper model with higher precision to detect the lane on roads with edge-to-edge marking through polyline annotation tools. We have team of dedicated annotators to draw such lines and annotate the large volumes of images for making the datasets usable for self-driving machine learning model work flawlessly.     </p>
            </div>
        </div> -->
     <ul>
        <div class="d-flex">
          <li class=""><img src="../assets/images/managed-1.png"></li>
          <li><p class="managed-text1 mx-1">Here is an example that explains different lanes in a road</p></li>
        </div>
        <div class="d-flex">
            <li class="mt-2"><img src="../assets/images/managed-2.png"></li>
            <li> <p class="managed-text2 mt-2 mx-1">Polylines annotation is suitable in lane detection for autonomous vehicles defining bicycle, directions, divergence and opposite direction traffic to perceive the surroundings for safe and trouble-free driving of such vehicles backed with successful AI-models. Anolytics provides polyline annotation services with acceptable level of accuracy.</p></li>
          </div>
          <div class="d-flex">
            <li class="mt-2"><img src="../assets/images/managed-3.png"></li>
            <li> <p class="managed-text3 mt-2 mx-1">Polylines helps to detect all types of lanes on varied roads including city streets or highways for self-driving vehicles. Just provide us the raw data of such streets and we have annotators who will recognize the lane marking by annotating lines on the object of interest making your autonomous vehicle keep recognizing such lanes on the road.</p></li>
          </div>
          <div class="d-flex">
            <li class="mt-2"><img src="../assets/images/managed-4.png"></li>
            <li><p class="managed-text4 mt-2 mx-1">Develop a sharper model with higher precision to detect the lane on roads with edge-to-edge marking through polyline annotation tools. We have team of dedicated annotators to draw such lines and annotate the large volumes of images for making the datasets usable for self-driving machine learning model work flawlessly.     </p></li>
          </div>
     </ul>
    </div>
     <p class="managed-text4 mx-1"> Detect the street lanes lines accurately for autonomous vehicle perception models making AI successful for self-driving cars in drivable areas.</p>
    <div class="footer-closebtn">
        <button class="closebtn" type="button" (click)="onNoClick()">Close</button>
    </div>
  </div>
  