<div class="container">
    <h2 class="dashboard-qa d-flex" href="#">Dashboard <span> > User analytics</span></h2> 
    <h1 class="QA">QA</h1>
    <div class="row">
        <div class="col-md-8">
            <table class="table">
            <div class="card-body box shadow">
                    <thead>
                      <tr>
                        <th>Program</th>
                        <th>Review tasks</th>
                        <th>Completed tasks</th>
                        <th>Pending tasks</th>
                        <th>Total users</th>
                        <th>Active users</th>
                        <th>Idle users</th>
                        <th>Total time spent</th>
                        <th>T-Put</th>
                        <th>Program provider</th>
                        <th></th>
                      </tr>
                    </thead>
                    <tbody class="table table-borderless">
                      <tr class="mt-5">
                        <td class="main-heading">Data collection(Image)</td>
                        <td>20</td>
                        <td>12</td>
                        <td>8</td>
                        <td>3</td>
                        <td>3</td>
                        <td>0</td>
                        <td>8h</td>
                        <td>2.8</td>
                        <td>Amazon, Google</td>
                        <td><img src="https://img.icons8.com/material-sharp/24/000000/visible.png"/></td>
                      </tr>
                      <tr class="mt-5">
                        <td class="main-heading">Data collection(Speech)</td>
                        <td>13</td>
                        <td>10</td>
                        <td>3</td>
                        <td>1</td>
                        <td>1</td>
                        <td>0</td>
                        <td>6h</td>
                        <td>1.8</td>
                        <td>Apple</td>
                        <td><img src="https://img.icons8.com/material-sharp/24/000000/visible.png"/></td>
                      </tr>
                      <tr class="mt-5">
                        <td class="main-heading">Lane alignment</td>
                        <td>11</td>
                        <td>4</td>
                        <td>7</td>
                        <td>1</td>
                        <td>1</td>
                        <td>0</td>
                        <td>2.5h</td>
                        <td>1.9</td>
                        <td>Apple</td>
                        <td><img src="https://img.icons8.com/material-sharp/24/000000/visible.png"/></td>
                      </tr>
                      <tr class="mt-5">
                        <td class="main-heading">Danger sign identification</td>
                        <td>40</td>
                        <td>5</td>
                        <td>35</td>
                        <td>2</td>
                        <td>2</td>
                        <td>0</td>
                        <td>2.8h</td>
                        <td>1.2</td>
                        <td>Amazon, Google</td>
                        <td><img src="https://img.icons8.com/material-sharp/24/000000/visible.png"/></td>
                      </tr>
                      <tr class="mt-5">
                        <td class="main-heading">Object identification (Lidar)</td>
                        <td>14</td>
                        <td>14</td>
                        <td>0</td>
                        <td>3</td>
                        <td>3</td>
                        <td>0</td>
                        <td>7h</td>
                        <td>2</td>
                        <td>Amazon, Microsoft</td>
                        <td><img src="https://img.icons8.com/material-sharp/24/000000/visible.png"/></td>
                      </tr>
                      <tr class="mt-5">
                        <td class="main-heading">Lane identification (Polyline)</td>
                        <td>12</td>
                        <td>5</td>
                        <td>7</td>
                        <td>2</td>
                        <td>2</td>
                        <td>0</td>
                        <td>2.8h</td>
                        <td>12</td>
                        <td>Microsoft</td>
                        <td><img src="https://img.icons8.com/material-sharp/24/000000/visible.png"/></td>
                      </tr>
                    </tbody>
                  
        </div>
    </table>
    </div>
    <div class="col-md-4">
        <div class="card-body box shadow">
            <p class="card-title"><strong>Clients</strong></p>
            <div class="dropdown">
                <button class="show btn btn dropdown-toggle" type="button" id="dropdownMenuButton"
                    data-mdb-toggle="dropdown" aria-expanded="false">
                    Show by: <span class="month">Workflow</span>
                </button>
                <div class="line">
                </div>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                  <li><a class="dropdown-item" href="#">Action</a></li>
                  <li><a class="dropdown-item" href="#">Another action</a></li>
                  <li><a class="dropdown-item" href="#">Something else here</a></li>
                </ul>
            </div>
        </div>
    </div>
    </div>
</div>
