.dashboard-qa{
    color: #2467AA;
}
.QA{
    font-size: xx-large;
}
thead{
    background-color: #F0F0F0;
    height: 60px;
   
}
a{
    text-decoration: none;
}
td{
    color: black;
}
.main-heading{
    color: #2467AA;

}

.show {
    text-align: right;
    margin-top: -32px;
    color: #6A707E;
    float: right;
  }
  
  .month {
    color: skyblue;
  }
  
  .line {
    position: absolute;
    height: 1px;
    left: -22px;
    right: -17px;
    top: 15px;
    background: #EBEFF2;
  }
  
