
<div class="container">
  <h2 class="data-collection-text mt-5">Data collection</h2>
  <div class="row mt-3">
    <div class="col-md-4">
      <div class="card amazon-card">
        <div class="card-header">
          <div class="d-flex">
            <h5 class="Lane-alignment mb-0 max-length" title="Lane alignment (Polyline)">Festive data collection (Image)
            </h5>
            <div class="ms-auto my-auto d-flex"><img class="pricetag-icon"
                src="../../../assets/images/price-tag-icon.svg"><span class="exam-label">Training + EXAM</span> <span
                class="rating mx-1">Rating:</span><span class="rating-value"> 4</span> </div>
          </div>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-md-9">
              <div class="line-ul">
                <ul>
                  <li>Type</li>
                  <li class="gallery-icon"><img src="../../../assets/images/gallery-icon.svg"></li>
                </ul>
                <ul>
                  <li class="car"><img src="../../../assets/images/collection-icon.svg"></li>
                  <li>Data collection</li>
                </ul>
                <ul>
                  <li class="clock"><img src="../../../assets/images/clock-icon.svg"></li>
                  <li>10-12m</li>
                </ul>
              </div>
            </div>
            <div class="col-md-3 my-auto">
              <div>
                <ul class="taskul">
                  <li class="align-self-center">Task</li>
                  <li class="taskbg">5</li>
                </ul>
              </div>
            </div>
          </div>
          <div class="row mt-1">
            <div class="col-md-11">
              <div>
                <div class="collapse" id="collapseExample-1">
                  <div class="card-body">
                    <p class="cust-p">
                      In this project user needs to collect and upload images related to indian festival - ‘DIWALI’. Succesfull upload of all valid images will lead to task score and earnings
                    <br class="mt-2">Requested by ------------------------- User name
                    <br> Price per training task  ---------------------- $0.00
                    <br> Task expiration time ----------------------- 1.00h
                    <br> Avg earnings per hour ---------------------- $1.10
                    <br> Max earnings per day ----------------------- $1.10
                    </p>
                  </div>
                </div>
                <!-- <div class="card-body p-0 mt-1">
                  <p class="cust-p contentMax-width ">
                    In this project user needs to identify and label lanes on a road which are single lane, double lane,
                    broken, edge of the road etc.
                  </p>
                </div> -->
              </div>
            </div>
            <div class="col-md-1 my-auto">
              <span class="toggle-up" data-bs-toggle="collapse" href="#collapseExample-1" role="button"  aria-expanded="false" aria-controls="collapseExample-1"><i class="fa fa-angle-down" ></i></span>
            </div>
          </div>
          <div class="row">
            <div class="price-ul">
              <ul><span class="pricing-txt">Earnings per task</span>
                <li class="dollar"><img src="../../../assets/images/dollar-price-icon.svg"><span
                    class="dollar-price">$0.02</span></li>
              </ul>
              <ul><span class="pricing-txt">Max Earnings</span>
                <li class="dollar"><img src="../../../assets/images/diff-ruppe-icon.svg"><span
                    class="dollar-price">$0.06</span></li>
              </ul>
              <ul><i class="far fa-heart"></i>
                <button class="skip-btn mt-2">Skip task</button>
              </ul>
            </div>
          </div>
          <div class="d-flex cardbtns">
            <button type="button" class="btn instruction-btn" (click)="InstDialog()">Instructions</button>
            <button type="button" class="btn start-btn" routerLink="/festive-data">Start Task</button>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card amazon-card">
        <div class="card-header">
          <div class="d-flex">
            <h5 class="Lane-alignment mb-0 max-length" title="Speech collection (Audio)">Speech collection (Audio)
            </h5>
            <div class="ms-auto my-auto d-flex"><img class="pricetag-icon"
                src="../../../assets/images/price-tag-icon.svg"><span class="exam-label">EXAM</span> <span
                class="rating mx-1">Rating:</span><span class="rating-value"> 4</span> </div>
          </div>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-md-9">
              <div class="line-ul">
                <ul>
                  <li>Type</li>
                  <li class="gallery-icon"><img src="../../../assets/images/gallery-icon.svg"></li>
                </ul>
                <ul>
                  <li class="car"><img src="../../../assets/images/collection-icon.svg"></li>
                  <li>Data collection</li>
                </ul>
                <ul>
                  <li class="clock"><img src="../../../assets/images/clock-icon.svg"></li>
                  <li>10-12m</li>
                </ul>
              </div>
            </div>
            <div class="col-md-3 my-auto">
              <div>
                <ul class="taskul">
                  <li class="align-self-center">Task</li>
                  <li class="taskbg">5</li>
                </ul>
              </div>
            </div>
          </div>
          <div class="row mt-1">
            <div class="col-md-10">
              <div>
                <div class="collapse" id="collapseExample-2">
                  <div class="card-body">
                    <p class="cust-p">
                      In this project user needs to identify and label lanes on a road which are single lane, double lane,
                    broken, edge of the road etc.
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-2 my-auto">
              <span class="toggle-up" data-bs-toggle="collapse" href="#collapseExample-2" role="button"  aria-expanded="false" aria-controls="collapseExample-2"><i class="fa fa-angle-down"></i></span>
            </div>
          </div>
          <div class="row">
            <div class="price-ul">
              <ul><span class="pricing-txt">Earnings per task</span>
                <li class="dollar"><img src="../../../assets/images/dollar-price-icon.svg"><span
                    class="dollar-price">$0.02</span></li>
              </ul>
              <ul><span class="pricing-txt">Max Earnings</span>
                <li class="dollar"><img src="../../../assets/images/diff-ruppe-icon.svg"><span
                    class="dollar-price">$0.06</span></li>
              </ul>
              <ul><i class="far fa-heart"></i>
                <button class="skip-btn mt-2">Skip task</button>
              </ul>
            </div>
          </div>
          <div class="d-flex cardbtns">
            <button type="button" class="btn instruction-btn" (click)="InstDialog()">Instructions</button>
            <button type="button" class="btn start-btn" routerLink="/speech-collection">Start Task</button>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card amazon-card">
        <div class="card-header">
          <div class="d-flex">
            <h5 class="Lane-alignment mb-0 max-length" title="Lane alignment (Polyline)">Face detection (Image)
            </h5>
            <div class="ms-auto my-auto d-flex"><img class="pricetag-icon"
                src="../../../assets/images/price-tag-icon.svg"><span class="exam-label">Training + EXAM</span> <span
                class="rating mx-1">Rating:</span><span class="rating-value"> 4</span> </div>
          </div>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-md-9">
              <div class="line-ul">
                <ul>
                  <li>Type</li>
                  <li class="gallery-icon"><img src="../../../assets/images/gallery-icon.svg"></li>
                </ul>
                <ul>
                  <li class="car"><img src="../../../assets/images/collection-icon.svg"></li>
                  <li>Data collection</li>
                </ul>
                <ul>
                  <li class="clock"><img src="../../../assets/images/clock-icon.svg"></li>
                  <li>10-12m</li>
                </ul>
              </div>
            </div>
            <div class="col-md-3 my-auto">
              <div>
                <ul class="taskul">
                  <li class="align-self-center">Task</li>
                  <li class="taskbg">5</li>
                </ul>
              </div>
            </div>
          </div>
          <div class="row mt-1">
            <div class="col-md-10">
              <div>
                <div class="collapse" id="collapseExample-3">
                  <div class="card-body">
                    <p class="cust-p">
                      In this project user needs to identify and label lanes on a road which are single lane, double lane,
                    broken, edge of the road etc.
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-2 my-auto">
              <span class="toggle-up"  data-bs-toggle="collapse" href="#collapseExample-3" role="button"  aria-expanded="false" aria-controls="collapseExample-3"><i class="fa fa-angle-down"></i></span>
            </div>
          </div>
          <div class="row">
            <div class="price-ul">
              <ul><span class="pricing-txt">Earnings per task</span>
                <li class="dollar"><img src="../../../assets/images/dollar-price-icon.svg"><span
                    class="dollar-price">$0.02</span></li>
              </ul>
              <ul><span class="pricing-txt">Max Earnings</span>
                <li class="dollar"><img src="../../../assets/images/diff-ruppe-icon.svg"><span
                    class="dollar-price">$0.06</span></li>
              </ul>
              <ul>
                <i class="far fa-heart"></i>
                <button class="skip-btn mt-2">Skip task</button>
              </ul>
            </div>
          </div>
          <div class="d-flex cardbtns">
            <button type="button" class="btn instruction-btn" (click)="InstDialog()">Instructions</button>
            <button type="button" class="btn start-btn" routerLink="/face-detection">Start Task</button>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card amazon-card">
        <div class="card-header">
          <div class="d-flex">
            <h5 class="Lane-alignment mb-0 max-length" title="Lane alignment (Polyline)">Risk assessment annotation (Sentiment analysis)
            </h5>
            <div class="ms-auto my-auto d-flex"><img class="pricetag-icon"
                src="../../../assets/images/price-tag-icon.svg"><span class="exam-label">Training + EXAM</span> <span
                class="rating mx-1">Rating:</span><span class="rating-value"> 4</span> </div>
          </div>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-md-9">
              <div class="line-ul">
                <ul>
                  <li>Type</li>
                  <li class="gallery-icon"><img src="../../../assets/images/gallery-icon.svg"></li>
                </ul>
                <ul>
                  <li class="car"><img src="../../../assets/images/collection-icon.svg"></li>
                  <li>Data collection</li>
                </ul>
                <ul>
                  <li class="clock"><img src="../../../assets/images/clock-icon.svg"></li>
                  <li>10-12m</li>
                </ul>
              </div>
            </div>
            <div class="col-md-3 my-auto">
              <div>
                <ul class="taskul">
                  <li class="align-self-center">Task</li>
                  <li class="taskbg">5</li>
                </ul>
              </div>
            </div>
          </div>
          <div class="row mt-1">
            <div class="col-md-10">
              <div>
                <div class="collapse" id="collapseExample-4">
                  <div class="card-body">
                    <p class="cust-p">
                      In this project user needs to identify and label lanes on a road which are single lane, double lane,
                    broken, edge of the road etc.
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-2 my-auto">
              <span class="toggle-up"  data-bs-toggle="collapse" href="#collapseExample-4" role="button"  aria-expanded="false" aria-controls="collapseExample-4"><i class="fa fa-angle-down"></i></span>
            </div>
          </div>
          <div class="row">
            <div class="price-ul">
              <ul><span class="pricing-txt">Earnings per task</span>
                <li class="dollar"><img src="../../../assets/images/dollar-price-icon.svg"><span
                    class="dollar-price">$0.02</span></li>
              </ul>
              <ul><span class="pricing-txt">Max Earnings</span>
                <li class="dollar"><img src="../../../assets/images/diff-ruppe-icon.svg"><span
                    class="dollar-price">$0.06</span></li>
              </ul>
              <ul>
                <i class="far fa-heart"></i>
                <button class="skip-btn mt-2">Skip task</button>
              </ul>
            </div>
          </div>
          <div class="d-flex cardbtns">
            <button type="button" class="btn instruction-btn" (click)="InstDialog()">Instructions</button>
            <button type="button" class="btn start-btn" routerLink="/risk-assessment">Start Task</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="footer">
<!-- <app-footer></app-footer> -->
</div>