<div class="card box shadow  resp-space">
    <div class="card-header pe-1">
      <div class="d-flex">
        <h6 class="User-onboarded mb-0">Programs  v/s Time spent</h6>
        <div class="selectmonth">
          <span class="align-self-center font13">Show:</span>
          <select class="form-select font13">
            <option>This month</option>
            <option>August</option>
            <option>July</option>
          </select>
        </div>
      </div>
    </div>
    <div class="card-body my-2">
        <div class="row">
            <div class="col-md-6">
             <p class="program-text">Programs</p>
             <h4 class="zero">0</h4>
             <p class="available-text">0% of available</p>
            </div>
            <div class="col-md-6">
                <p class="time-text">Time spent</p>
                <h4 class="zero">0</h4>
                <p class="available-text">0% of total time</p>
            </div>
        </div>
    </div>
  </div>

