#footer {  
    position: fixed;  
    bottom: 1rem;  
    z-index: 100;  
    justify-items: end;
}

.task-1{
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: bold;
    // font-size: 12px;
}

.general-text{
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: bold;
    // font-size: 12px;
}