
<div class="container-fluid p-0">
    <div class="bgblue-color">
      <div class="container p-0">
        <h4 class="hi-user text-white">Hi {{UserName}}, </h4>
        <p class="user-text text-white">Peopletech’s data platform is engineered to help you improve your training data
          addition and iteration loop with the ability to Annotate data, Diagnose model performance, and Prioritize based on your
          results.</p>
      </div>
    </div>
  </div>
<div class="container mt-5">
    <div class="row">
        <div class="col-md-8">
            <div class="card box shadow resp-space">
                <div class="card-header pe-1">
                    <div class="d-flex">
                        <h6 class="user-onboarded mb-0">User </h6>
                        <div class="selectmonth">
                            <span class="align-self-center font13">Show:</span>
                            <select class="form-select font13">
                                <option>This month</option>
                                <option>August</option>
                                <option>July</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="row my-4">
                        <div class="col-md-3 resp-space">
                            <div class="internal-pad-1">
                                <img src="../assets/images/manager-icon1.svg"><br>
                                <span class="numberCircle">75 <span class="percentage-icon"> % </span></span>
                            </div>
                            <div class="">
                                <p class="manager my-2">Data Analyst</p>
                               <span class="front-number">15 </span>  <button class="viewdash-btn" routerLink="['/manager-data-analyst']"
                                    routerLinkActive="router-link-active">View Dashboard</button>
                            </div>
                        </div>
                        <div class="col-md-3 resp-space">
                            <div class="internal-pad-2">
                                <img src="../assets/images/manager-icon2.svg"><br>
                                <span class="numberCircle">10 <span class="percentage-icon"> % </span></span>
                            </div>
                            <div class="">
                                <p class="Crowd my-2">SME</p>
                             <span class="front-number"> 2 </span> <button class="viewdash-btn" routerLink="['/manager-sme']"> View Dashboard</button>
                            </div>
                        </div>
                        <div class="col-md-3 resp-space">
                            <div class="internal-pad-1">
                                <img src="../assets/images/manager-icon3.svg"><br>
                                <span class="numberCircle">15 <span class="percentage-icon"> % </span></span>
                            </div>
                            <div class="">
                                <p class="SME my-2">QA</p>
                               <span class="front-number"> 3 </span> <button class="viewdash-btn" routerLink="['/manager-qa']"> View Dashboard</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card box shadow  resp-space ">
                <div class="card-header">
                    <h6 class="profile my-1 text-center">Profile</h6>
                </div>
                <div class="card-body">
                    <div class="text-center">
                        <img class="user-icon " src="../assets/images/account_circle.png">
                        <h6 class="user-name">{{UserName}}</h6>
                        <p class="admin-type">Manager</p>
                    </div>
                    <p class="profile-text m-0">Profile completion</p>
                    <div class="row top-contact">
                        <div class="col-md-4 text-start">
                            <p class="percentage">100%</p>
                        </div>
                        <div class="col-md-4 text-center ">
                            <p class="p-name">Profile</p>
                        </div>
                    </div>
                    <div class="progress progress-bar">
                        <div class="progress-bar bg-success" style="width: 100%" role="progressbar" aria-valuenow="100"
                            aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                    <span class="completed-txt">Completed</span>
                </div>
                <p class="reviews-text mx-3">Reviews</p>
                <div class="d-flex">
               <img class="mx-3" src="../assets/images/heart-icon.svg" width="12%"> 
               <p class="number-1 mt-1">16</p>
               <p class="program-text mx-2 mt-3"> (6 of 8 programs)</p>
            </div>
            <img class="mx-3 my-4" src="../assets/images/graph-sme.png" width="90%">
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-md-4">
                <div class="card box shadow  resp-space-1">
                    <div class="card-header pe-1">
                        <div class="d-flex">
                            <h6 class="user-onboarded mb-0">User onboarded</h6>
                            <div class="selectmonth">
                                <span class="align-self-center font13">Show:</span>
                                <select class="form-select font13">
                                    <option>This month</option>
                                    <option>August</option>
                                    <option>July</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="card-body my-3">
                        <div class="row">
                            <div class="col-md-7">
                                <div class="internal-pad-number">
                                    <span class="font25">20</span>
                                </div>
                            </div>
                            <div class="col-md-5 status-color">
                                <ul class="clr-list">
                                    <li class="side-text"><img src="../assets/images/Ellipse 1.png"> Data Analyst</li>
                                    <li class="side-text"><img src="../assets/images/Ellipse 2.png"> SME</li>
                                    <li class="side-text"><img src="../assets/images/Ellipse 3.png"> QA</li>
                                    <li class="side-text"><img src="../assets/images/Ellipse 4.png"> Blocked</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card box shadow resp-space-1">
                    <div class="card-header pe-1">
                        <div class="d-flex">
                            <h6 class="time-spent mb-0">Time spent on managing users</h6>
                            <div class="selectmonth">
                                <span class="align-self-center font13">Show:</span>
                                <select class="form-select font13">
                                    <option>This month</option>
                                    <option>August</option>
                                    <option>July</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="card-body ">
                        <p class="zero ">2.5h</p>
                        <div class="row">
                            <div class="col">
                                <ul class="clr-list-1">
                                    <li class="mt-2">SME</li>
                                    <li class="mt-2">Data analyst</li>
                                    <li class="mt-2">QA</li>
                                </ul>
                            </div>
                            <div class="col">
                                <ul class="range-count mb-0 mt-1">
                                    <li>0.5h</li>
                                   </ul>
                                <div class="progress ">
                                    <div class="progress-bar1" style="width:35%"></div>
                                  </div>
                                  <ul class="range-count mb-0 mt-1">
                                    <li>1.5h</li>
                                   </ul>
                                <div class="progress ">
                                    <div class="progress-bar1" style="width:60%"></div>
                                  </div>
                                  <ul class="range-count mb-0 mt-1">
                                    <li>0.5h</li>
                                   </ul>
                                <div class="progress ">
                                    <div class="progress-bar1" style="width:20%"></div>
                                  </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="footer">
   
</div>