<div class="container-fluid">
    <h6 class="btm-mrgn text-center mt-5">Reach out us through the below channels</h6>

    <div class="row">
        <div class="col-md-5"></div>
        <div class="col-md-7">
        <ul class="mb-0 mt-2">
            <li><a href="javascript:void(0)"><img class="fb" src="../../../assets/images/Facebook.svg"></a></li>
            <li><a href="javascript:void(0)"><img class="twi" src="../../../assets/images/twitter.svg"></a></li>
            <li><a href="javascript:void(0)"><img class="link" src="../../../assets/images/linkedin.svg"></a></li>
            <li><a href="javascript:void(0)"><img class="insta" src="../../../assets/images/instagram.svg"></a></li>
            <li><a href="javascript:void(0)"><img class="print" src="../../../assets/images/pinterest.svg"></a></li>
          </ul>
    </div>
</div>
<p class="ptg-grp text-center  mt-5">© 2021–2022 Peopletech Group.</p>
</div>
