<!-- <div class="card box shadow resp-space">
   <div class="card-header pe-1"> -->
    <!-- <div class="d-flex">
      <h6 class="user-onboarded mb-0">Users </h6>
      <div class="selectmonth">
        <span class="align-self-center font13">Show:</span>
        <select class="form-select font13">
          <option>This month </option>
          <option>August</option>
          <option>July</option>
        </select> -->
        <!-- <select class="minimal">
          <option>CSS SELECT arrow (minimal)</option>
          <option>No external background image</option>
          <option>No wrapper</option>
        </select> -->
        <!-- <i class="fa fa-caret-down" aria-hidden="true"></i> -->
      <!-- </div>
    </div> -->
  <!-- </div> -->
  <!-- <div class="card-body"> -->
    <!-- <div class="row mt-2">
      <div class="col-sm resp-space">
       <div class="internal-pad-1">
        <img src="../assets/images/Diamond.svg"><br>
        <span class="numberCircle">5<span class="percentage-icon"> %</span></span>
       </div>
        <div class="mt-3">
          <p class="manager my-2">Manager</p>
          <span class="btn-number">2 </span> <button class="viewdash-btn mt-1" [routerLink]="['/manager-table']"
            routerLinkActive="router-link-active">View Dashboard</button>
        </div>
      </div>
      <div class="col-sm resp-space">
        <div class="internal-pad-2">
          <img src="../assets/images/users-dashboard.svg"><br>
         <span class="numberCircle">48<span class="percentage-icon"> %</span></span>
        </div>
        <div class="mt-3">
          <p class="Crowd my-2">Crowd</p>
          <span class="btn-number">20 </span> <button class="viewdash-btn mt-1" [routerLink]="['/crowd-table']"> View
            Dashboard</button>
        </div>
      </div>
      <div class="col-sm resp-space">
        <div class="internal-pad-3">
          <img src="../assets/images/manager-icon1.svg"><br>
         <span class="numberCircle">36<span class="percentage-icon"> %</span></span>
        </div>
        <div class="mt-3">
          <p class="Data-Analyst min-width-text my-2">Data Analyst</p>
          <span class="btn-number">15 </span> <button class="viewdash-btn mt-1" [routerLink]="['/data-analyst-table']">
            View Dashboard</button>
        </div>
      </div>
      <div class="col-sm resp-space">
        <div class="internal-pad-4">
          <img src="../assets/images/manager-icon2.svg"><br>
          <span class="numberCircle">5<span class="percentage-icon"> %</span></span>
        </div>
        <div class="mt-3">
          <p class="SME my-2">SME</p>
          <span class="btn-number">2 </span><button class="viewdash-btn mt-1" [routerLink]="['/sme-table']"> View
            Dashboard</button>
        </div>
      </div>
      <div class="col-sm resp-space">
        <div class="internal-pad-5">
          <img src="../assets/images/manager-icon3.svg"><br>
          <span class="numberCircle">7<span class="percentage-icon"> %</span></span>
        </div>
        <div class="mt-3">
          <p class="QA my-2">QA</p>
          <span class="btn-number">3 </span><button class="viewdash-btn mt-1" [routerLink]="['/qa-table']"> View
            Dashboard</button>
        </div>
      </div>
    </div>
    <div class="row row-space">

    </div>                   
        
</div> -->

<div>
  <iframe id="myIframe" title="Updated Super Admin Report" width="100%" height="541.25" src="https://app.powerbi.com/reportEmbed?reportId=4ce4ee7b-a9b7-41a6-a3be-ce1cc5ffece2&autoAuth=true&ctid=31386ae4-e5c5-4956-80b9-3868597721b3" frameborder="0" allowFullScreen="true"></iframe>
</div> 
