
<div class="container">
  <h2 class="amazon-text mt-4">Amazon</h2>
  <ul class="nav">
    <li class="nav-item mt-2">
      <a class="nav-link all-text">All</a>
    </li>
    <li class="nav-item mt-2 mx-4">
      <a class="nav-link mx-4">Active</a>
    </li>
    <li class="nav-item mt-2 mx-4">
      <a class="nav-link">Favourites</a>
    </li>
    <li class="nav-item mt-2 mx-4">
      <a class="nav-link">Statistics</a>
    </li>
  </ul>
  <!-- <div class="row justify-con py-3">
    <ul class="task-lists">
      <li class="">All</li>
      <li class="mx-4">Active</li>
      <li class="mx-4">Favourites</li>
      <li class="mx-4">Statistics</li>
    </ul>
  </div> -->
  <!--Cards-->
  <div class="row mt-3">
    <div class="col-md-4">
      <div class="card amazon-card">
        <div class="card-header">
          <div class="d-flex">
            <h5 class="Lane-alignment mb-0 max-length" title="Lane alignment (Polyline)">Lane alignment (Polyline)</h5>
            <div class="ms-auto my-auto d-flex"><img class="pricetag-icon"
                src="../../../assets/images/price-tag-icon.svg"><span class="exam-label">Review</span> <span
                class="rating mx-2">Rating:</span><span class="rating-value"> 4</span> </div>
          </div>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-md-9">
              <div class="line-ul">
                <ul>
                  <li>Type</li>
                  <li class="polyline"><img src="../../../assets/images/Polyline.svg"></li>
                </ul>
                <ul>
                  <li class="car"><img src="../../../assets/images/car-icon.svg"></li>
                  <li>Autonomous vehicle</li>
                </ul>
                <ul>
                  <li class="clock"><img src="../../../assets/images/clock-icon.svg"></li>
                  <li>2-3m per task</li>
                </ul>
              </div>
            </div>
            <div class="col-md-3 my-auto padd-task">
              <div>
                <ul class="taskul">
                  <li class="align-self-center tasks-txt">Tasks</li>
                  <li class="taskbg">20</li>
                </ul>
              </div>
            </div>
          </div>
          <div class="row mt-1">
            <div class="col-md-10">
              <div class="collapse" id="collapseExample-1">
                <div class="card-body">
                  <p class="cust-p">
                    In this project user needs to identify and label lanes on a road which are single lane, double lane,
                    broken, edge of the road etc.
                  </p>
                </div>
              </div>
              <!-- <p class="cust-p">
                In this project user needs to identify and label lanes on a road which are single lane, double lane,
                broken, edge of the road etc.
              </p> -->
            </div>
            <div class="col-md-2 my-auto">
              <span class="toggle-up" data-bs-toggle="collapse" href="#collapseExample-1" role="button" aria-expanded="false" aria-controls="collapseExample-1"><i class="fa fa-angle-down"></i></span>
            </div>
          </div>
          <div class="d-flex cardbtns">
            <button type="button" class="btn instruction-btn">Review Task</button>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card amazon-card">
        <div class="card-header">
          <div class="d-flex">
            <h5 class="Lane-alignment mb-0 max-length" title="Object Identification (Mixed)">Object Identification (Mixed)</h5>
            <div class="ms-auto my-auto d-flex"><img class="pricetag-icon"
                src="../../../assets/images/price-tag-icon.svg"><span class="exam-label">Review</span> <span
                class="rating mx-2">Rating:</span><span class="rating-value"> 4</span> </div>
          </div>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-md-9">
              <div class="line-ul">
                <ul>
                  <li>Type</li>
                  <li class="polyline"><img src="../../../assets/images/Polyline.svg"></li>
                </ul>
                <ul>
                  <li class="car"><img src="../../../assets/images/car-icon.svg"></li>
                  <li>Autonomous vehicle</li>
                </ul>
                <ul>
                  <li class="clock"><img src="../../../assets/images/clock-icon.svg"></li>
                  <li>2-3m per task</li>
                </ul>
              </div>
            </div>
            <div class="col-md-3 my-auto padd-task">
              <div>
                <ul class="taskul">
                  <li class="align-self-center tasks-txt">Tasks</li>
                  <li class="taskbg">20</li>
                </ul>
              </div>
            </div>
          </div>
          <div class="row mt-1">
            <div class="col-md-10">
              <div class="collapse" id="collapseExample-2">
                <div class="card-body">
                  <p class="cust-p">
                    In this project user needs to identify and label lanes on a road which are single lane, double lane,
                    broken, edge of the road etc.
                  </p>
                </div>
              </div>
              <!-- <p class="cust-p">
                In this project user needs to identify and label lanes on a road which are single lane, double lane,
                broken, edge of the road etc.
              </p> -->
            </div>
            <div class="col-md-2 my-auto">
              <span class="toggle-up" data-bs-toggle="collapse" href="#collapseExample-2" role="button" aria-expanded="false" aria-controls="collapseExample-2"><i class="fa fa-angle-down"></i></span>
            </div>
          </div>
          <div class="d-flex cardbtns">
            <button type="button" class="btn instruction-btn">Review Task</button>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card amazon-card">
        <div class="card-header">
          <div class="d-flex">
            <h5 class="Lane-alignment mb-0 max-length" title="Object Identification (Lidar)">Object Identification (Lidar)</h5>
            <div class="ms-auto my-auto d-flex"><img class="pricetag-icon"
                src="../../../assets/images/price-tag-icon.svg"><span class="exam-label">Review</span> <span
                class="rating mx-2">Rating:</span><span class="rating-value"> 4</span> </div>
          </div>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-md-9">
              <div class="line-ul">
                <ul>
                  <li>Type</li>
                  <li class="polyline"><img src="../../../assets/images/Polyline.svg"></li>
                </ul>
                <ul>
                  <li class="car"><img src="../../../assets/images/car-icon.svg"></li>
                  <li>Autonomous vehicle</li>
                </ul>
                <ul>
                  <li class="clock"><img src="../../../assets/images/clock-icon.svg"></li>
                  <li>2-3m per task</li>
                </ul>
              </div>
            </div>
            <div class="col-md-3 my-auto padd-task">
              <div>
                <ul class="taskul">
                  <li class="align-self-center tasks-txt">Tasks</li>
                  <li class="taskbg">20</li>
                </ul>
              </div>
            </div>
          </div>
          <div class="row mt-1">
            <div class="col-md-10">
              <div class="collapse" id="collapseExample-3">
                <div class="card-body">
                  <p class="cust-p">
                    In this project user needs to identify and label lanes on a road which are single lane, double lane,
                    broken, edge of the road etc.
                  </p>
                </div>
              </div>
              <!-- <p class="cust-p">
                In this project user needs to identify and label lanes on a road which are single lane, double lane,
                broken, edge of the road etc.
              </p> -->
            </div>
            <div class="col-md-2 my-auto">
              <span class="toggle-up" data-bs-toggle="collapse" href="#collapseExample-3" role="button" aria-expanded="false" aria-controls="collapseExample-3"><i class="fa fa-angle-down"></i></span>
            </div>
          </div>
          <div class="d-flex cardbtns">
            <button type="button" class="btn instruction-btn">Review Task</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="footer">
 
</div>