
<div class="container-fluid p-0">
    <div class="bgblue-color">
      <div class="container p-0">
        <h4 class="hi-user text-white">Hi Amanda, </h4>
        <p class="user-text text-white">Peopletech’s data platform is engineered to help you improve your training data
          addition and iteration loop with the ability to Annotate data, Diagnose model performance, and Prioritize based on your
          results.</p>
      </div>
    </div>
  </div>

  <div class="container mt-3">
    <div class="row">
        <div class="col-md-4">
            <div class="card box shadow  resp-space">
                <div class="card-header pe-1">
                  <div class="d-flex">
                    <h6 class="User-onboarded mb-0">Tasks</h6>
                    <div class="selectmonth">
                      <span class="align-self-center font13">Show:</span>
                      <select class="form-select font13">
                        <option>This month</option>
                        <option>August</option>
                        <option>July</option>
                      </select>
                    </div>
                  </div>
                </div>
                <div class="card-body my-3">
                  <div class="row">
                    <div class="col-md-7">
                      <div class="internal-pad mt-2">
                        <span class="font25">88%</span>
                       </div>
                    </div>
                    <div class="col-md-5 status-color">
                      <ul class="clr-list mt-4 mx-2">
                        <li class="side-text"><img src="../assets/images/Ellipse 1.png"> Active</li>
                        <li class="side-text"><img src="../assets/images/Ellipse 2.png"> Resolved</li>
                        <li class="side-text"><img src="../assets/images/Ellipse 3.png"> Approved</li>
                        <li class="side-text"><img src="../assets/images/Ellipse 4.png"> Rejected</li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
        </div>
        <div class="col-md-4">
            <div class="card box shadow  resp-space">
                <div class="card-header pe-1">
                  <div class="d-flex">
                    <h6 class="User-onboarded mb-1">Programs v/s Time spent</h6>
                    <div class="selectmonth">
                        <span class="align-self-center font13">Show:</span>
                        <select class="form-select font13">
                          <option>This month</option>
                          <option>August</option>
                          <option>July</option>
                        </select>
                      </div>
                  </div>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-6">
                         <p class="program-text">Programs</p>
                         <h4 class="zero">5</h4>
                         <p class="available-text-1">33% of available</p>
                         <p class="product-text">Product classification</p>
                         <p class="product-text">Product similarity</p>
                         <p class="product-text">Identify valid coupon codes</p>
                         <p class="product-text">Biomedical terminology</p>
                        </div>
                        <div class="col-md-6">
                            <p class="time-text">Time spent</p>
                            <h4 class="zero">12h</h4>
                            <p class="available-text-2">80% of total time</p>
                            <ul class="range-count mb-0 mt-1">
                                <li>40</li>
                                <li>60</li>
                               </ul>
                            <div class="progress ">
                                <div class="progress-bar1" style="width:60%"></div>
                              </div>
                              <ul class="range-count mb-0 mt-1">
                                <li>25</li>
                                <li>50</li>
                               </ul>
                            <div class="progress ">
                                <div class="progress-bar1" style="width:50%"></div>
                              </div>
                              <ul class="range-count mb-0 mt-1">
                                <li>17</li>
                                <li>35</li>
                               </ul>
                            <div class="progress ">
                                <div class="progress-bar1" style="width:30%"></div>
                              </div>
                              <ul class="range-count mb-0 mt-1">
                                <li>38</li>
                                <li>60</li>
                               </ul>
                            <div class="progress ">
                                <div class="progress-bar1" style="width:70%"></div>
                              </div>
                        </div>

                    </div>
                </div>
              </div>
        </div>
        <div class="col-md-4">
            <div class="card box shadow  resp-space">
                <div class="card-header">
                    <h6 class="profile my-2">Profile</h6>
                    <p class="rating-text"><img src="../assets/images/star.png"> Rating: <span class="color-number">3</span></p>
                </div>
                <div class="card-body">
                    <div class="text-center">
                        <img class="user-icon " src="../assets/images/account_circle.png">
                        <h6 class="user-name">Michael Korr</h6>
                        <p class="admin-type">Data Analyst</p>
                    </div>
                    <p class="profile-text m-0">Profile completion</p>
                    <div class="row top-contact">
                        <div class="col-md-4 text-start">
                            <p class="percentage">100%</p>
                        </div>
                        <div class="col-md-4 text-center ">
                            <p class="p-name">Profile</p>
                        </div>
                    </div>
                    <div class="progress progress-bar">
                        <div class="progress-bar bg-success" style="width:100%; height: 150%;">
                        </div>

                    </div>
                    <div class="row">
                        <div class="col-md-6 text-start">
                            <p class="completed">Completed</p>
                        </div>
                    </div>
                    <p class="review-text">Reviews</p>
                    <img src="../assets/images/heart-icon.svg"> <span class="zero-number mx-3">11</span><span class="review-text-1">(2 of 5 programs)</span>
                    <img src="../assets/images/graph-sme.png" width="90%">
                    <div class="row">
                        <div class="col-md-6">
                            <p class="review-text">T-Put</p>
                            <img src="../assets/images/t-put-icon.svg"> <span class="zero-number mx-3">20</span>
                        </div>
                        <div class="col-md-6">
                            <p class="review-text">Task Score</p>
                            <img src="../assets/images/task-score-icon.svg"> <span class="zero-number mx-3">36.9</span>
                        </div>
                    </div>
                </div>
        </div>
        </div>
        <div class="col-md-4">
            <div class="card box shadow  resp-space-graph">
                <div class="card-header pe-1">
                  <div class="d-flex">
                    <h6 class="User-onboarded-2 mb-0">Time taken on task categories</h6>
                    <div class="selectmonth">
                      <span class="align-self-center font13">Show:</span>
                      <select class="form-select font13">
                        <option>Weekly</option>
                        <option>August</option>
                        <option>July</option>
                      </select>
                    </div>
                  </div>
                </div>
                <div class="card-body">
                    <img src="../assets/images/Ellipse 1.png"> <span class="average-text"> Average time(h)</span>
                  <img class="mt-1" src="../assets/images/polar-graph.JPG" width="92%" >
                </div>
              </div>
        </div>
    </div>
  </div>

  <!-- <div class="mt-5">
  <app-footer></app-footer>
</div> -->
