<nav class="navbar navbar-expand-lg navbar-light navbg">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <img class="ptglogo" src="../assets/images/people-tech-logo.png" width="80%" /></a>
  </div>
</nav>
<div class="container">
  <div class="col-12 text-center  mb-4">
    <h1 class="signin-head">Sign In</h1>
  </div>
  <div class="col-md-6 m-auto">
    <div class="card logincard">
      <div class="text-center ">
        <h4 class="heading-txt">Log In or SignUp with</h4>
      </div>
      <div class="text-center">
        <ul class="social-login">
          <li class="social-icon social-facebook"><img src="../../../../assets/images/microsoft.png" alt=""></li>
          <li class="social-icon social-google"><img src="../../../../assets/images/google.png" alt=""></li>
          <li class="social-icon social-linkedin"><img src="../../../../assets/images/linkdin.png" alt=""></li>
          <li class="social-icon social-instagram"><img src="../../../../assets/images/facebook1.png" alt=""></li>
          <li class="social-icon social-instagram me-0"><img src="../../../../assets/images/twitter1.png" alt=""></li>
        </ul>
      </div>
      <div class="col-12 text-center mb-3">
        <Span>OR</Span>
      </div>
      <div class="form-group text-center ">
        <button class="sign-btn" type="submit" (click)="routeToCustomLogin()">Custom Login</button>
      </div>
    </div>
  </div>
</div>
<div class="footer">
  <div>
    <p class="ptg-group text-center py-3 m-0">&copy; 2021-2022 Peopletech Group.</p>
  </div>
</div>
