.f-right{
  float: right;
}
h5{
  font-size: 20px;
  font-weight: 500;
  line-height: 28px;
}

.admin-type{
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #535353;
  
}
.progess-status{
 justify-content: space-evenly;
}
.card-header{
  background-color: #FFFFFF;

}
.profile-text{
  font-family: 'Inter', sans-serif;
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 20px;
color: #535353;
}
.progress-bar{
  border-radius: 10px;
  color: #2E7D32;
}
.completed-txt{
  font-family: ''Inter', sans-serif';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  color: #2E7D32;
}

.profile{
  font-family: 'Inter', sans-serif;
font-style: normal;
font-weight: bold;
font-size: 20px;
line-height: 15px;
color: #192A3E;
font-style: bold;
}

.user-name{
  font-family: 'Inter', sans-serif;
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 26px;
color: #000000;
}

.percentage{
  font-family: ''Inter', sans-serif';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  color: #6D6D6D;
}
.profile-p{
  font-family: ''Inter', sans-serif';
font-style: normal;
font-weight: bold;
font-size: 14px;
line-height: 20px;
text-align: center;
color: #374151;

}