<!-- <div class="card box shadow  resp-space">
  <div class="card-header pe-1">
    <div class="d-flex">
      <h6 class="User-onboarded mb-0">Users onboarded</h6>
      <div class="selectmonth">
        <span class="align-self-center font13">Show:</span>
        <select class="form-select font13">
          <option>This month</option>
          <option>August</option>
          <option>July</option>
        </select>
      </div>
    </div>
  </div>
  <div class="card-body my-3">
    <div class="row">
      <div class="col-md-7">
        <div class="internal-pad">
          <span class="font25">40</span>
         </div>
      </div>
      <div class="col-md-5 status-color">
        <ul class="clr-list">
          <li class="side-text"><img src="../assets/images/Ellipse-4.svg"> Manager</li>
          <li class="side-text"><img src="../assets/images/Ellipse crowd.png"> Crowd</li>
          <li class="side-text"><img src="../assets/images/Ellipse 1.png"> Managed</li>
          <li class="side-text"><img src="../assets/images/Ellipse 2.png"> SME</li>
          <li class="side-text"><img src="../assets/images/Ellipse 3.png"> QA</li>
          <li class="side-text"><img src="../assets/images/Ellipse 4.png"> Blocked</li>
        </ul>
      </div>
    </div>
  </div>
</div> -->


<div>
  <iframe title="DataAnnotation(SADashboard)Test100" width="100%" height="100%" src="https://app.powerbi.com/reportEmbed?reportId=43e8a94b-4de3-4e34-87e3-8fe8c7087f46&autoAuth=true&ctid=31386ae4-e5c5-4956-80b9-3868597721b3" frameborder="0" allowFullScreen="true"></iframe>
</div>
