<div class="card box shadow  resp-space">
    <div class="card-header">
        <h6 class="profile my-2">Profile</h6>
    </div>
    <div class="card-body">
        <div class="text-center">
            <img class="user-icon " src="../assets/images/account_circle.png">
            <h6 class="user-name">Andrew Smith</h6>
            <p class="admin-type">Crowd</p>
        </div>
        <p class="profile-text m-0">Profile completion</p>
        <div class="row top-contact mt-1">
            <div class="col-md-4 text-start">
                <p class="percentage">57%</p>
            </div>
            <div class="col-md-4 text-center ">
                <p class="p-name">Profile</p>
            </div>
            <div class="col-md-4 text-end">
                <p class="percentage">43%</p>
            </div>
        </div>
        <div class="progress">
            <div class="progress-bar bg-success" style="width:57%">
            </div>
            <div class="progress-bar bg-danger" style="width:43%">
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 text-start">
                <p class="completed">Completed</p>
            </div>
            <div class="col-md-6 text-end">
                <p class="not-document">Not documented</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <p class="t-put-text">T-Put</p>
                <img class="T-put-image" src="../assets/images/t-put-icon.svg"> <span class="zero-number mx-2">0</span>
            </div>
            <div class="col-md-6">
                <p class="t-put-text">Task Score</p>
                <img class="T-put-image" src="../assets/images/task-score-icon.svg"> <span class="zero-number mx-2">0</span>
            </div>
        </div>
        <p class="cword-text ">We are so excited to have you here. Plese setup your profile first in order to get
            started.    </p>
         <p class="cword-text">To set up/update your profile click on the below link.</p>
          <ul>
            <li class="cword-text">On completing profile setup you will be directed to the tasks section where various tasks will apear based on your profile.</li>
            <li class="cword-text">To access learning content for tasks, click on ‘Take Training’ button on the respective task.</li>
          </ul>
           
    
        <button class="Complete-btn btn"><img src="../assets/images/complete-icon.svg" > Complete your profile</button>
    </div>