
<div class="container mt-2">
<h2 class="amazon-text mt-3">Autonomous vehicle AI</h2>
  <ul class="nav mt-4">
    <li class="nav-item">
      <a class="nav-link all-text">All</a>
    </li>
    <li class="nav-item mx-4">
      <a class="nav-link mx-4">Active</a>
    </li>
    <li class="nav-item mx-4">
      <a class="nav-link">Favourites</a>
    </li>
    <li class="nav-item mx-4">
        <a class="nav-link">Statistics</a>
      </li>
  </ul>
  <div class="row mt-4">
    <div class="col-md-4">
        <div class="card box shadow  resp-space">
            <div class="card-header my-2 pe-1">
                <div class="d-flex">
                    <h6 class="User-onboarded mb-0">Number of Tasks</h6>
                    <div class="selectmonth">
                        <span class="align-self-center font13">Show:</span>
                        <select class="form-select font13">
                            <option>This month</option>
                            <option>August</option>
                            <option>July</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="card-body ">
               <div class="zero-number">
                <p class="number">9</p>
                <div class="row mt-3">
                    <div class="col-md-6">
                       <p class="card-text">Lane alignment (Polyline)</p>
                       <p class="card-text">Vehicle identification (Bounding box)</p>
                       <p class="card-text">Human identification (Polygon)</p>
                       <p class="card-text">Cafe/restaurant identification (Polygon)</p>
                       <p class="card-text">Object identification (Mixed)</p>
                    </div>
                    <div class="col-md-6 top-content">
                        <ul class="range-count mb-0 mt-2">
                            <li>5</li>
                           </ul>
                        <div class="progress ">
                            <div class="progress-bar" style="width:30%"></div>
                          </div>
                          <ul class="range-count mb-0 mt-2">
                            <li>7</li>
                           </ul>
                        <div class="progress ">
                            <div class="progress-bar" style="width:65%"></div>
                          </div>
                          <ul class="range-count mb-0 mt-2">
                            <li>2</li>
                           </ul>
                        <div class="progress ">
                            <div class="progress-bar" style="width:15%"></div>
                          </div>
                          <ul class="range-count mb-0 mt-2">
                            <li>0.5</li>
                           </ul>
                        <div class="progress ">
                            <div class="progress-bar" style="width:10%"></div>
                          </div>
                          <ul class="range-count mb-0 mt-2">
                            <li>0.25</li>
                           </ul>
                        <div class="progress ">
                            <div class="progress-bar" style="width:5%"></div>
                          </div>
                    </div>
                </div>
               </div>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card box shadow  resp-space">
            <div class="card-header my-2 pe-1">
              <div class="d-flex">
                <h6 class="User-onboarded mb-0">Tasks popularity</h6>
                <div class="selectmonth">
                  <span class="align-self-center font13">Show:</span>
                  <select class="form-select font13">
                    <option>Weekly</option>
                    <option>August</option>
                    <option>July</option>
                  </select>
                </div>
              </div>
            </div>
            <div class="card-body">
                <img src="../assets/images/Ellipse 1.png"> <span class="average-text"> Average rating</span>
              <img src="../assets/images/polar-graph.JPG" width="92%" >
            </div>
          </div>
    </div>
    <div class="col-md-4">
        <div class="card box shadow  resp-space">
            <div class="card-header my-2 pe-1">
             <p class="usage-text">Usage statistics</p>
             <p class="usage-text2">as per user rating</p>
              <img class="graph-image mt-1" src="../assets/images/graph-managed2.JPG" width="100%" >
              <!-- <div style="width: 400px; height: 100%">
                <canvas id="myChart"></canvas>
              </div> -->
              <div class="d-flex">
                <p class="graph-text mx-2"><span class="color-box">---</span> High</p>
                <p class="graph-text mx-3"><span class="color-box-1">---</span> Average</p>
                <p class="graph-text mx-3"><span class="color-box-2">---</span> Low</p>
              </div>
                </div>
                </div>
    </div>
  </div>
</div>

<div class="footer">
   
</div>