  <div class="card box shadow  resp-space">
    <div class="card-header pe-1">
      <div class="d-flex">
        <h6 class="User-count mb-0">User count</h6>
        <div class="selectmonth">
          <span class="align-self-center font13">Show:</span>
          <select class="form-select font13">
            <option>This month</option>
            <option>August</option>
            <option>July</option>
          </select>
        </div>
      </div>
    </div>
    <div class="card-body">
      <div class="row">
      <div class="col-md-6"> <p class="my-2">User</p></div>
      <div class="col-md-6 my-auto text-end">2</div>
    </div>
    <div class="progress">
      <div class="progress-bar bg-green" role="progressbar" aria-label="Success example" style="width: 100%" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"></div>
    </div>
    <div class="row">
      <div class="col-md-6"> <p class="my-2">Tasks</p></div>
      <div class="col-md-6 my-auto text-end">130</div>
    </div>
    <div class="progress">
      <div class="progress-bar bg-orange" role="progressbar" aria-label="Info example" style="width: 80%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
    </div>
    <div class="row top-contact mt-1">
      <div class="col-md-4 text-start">
          <p class="percentage">6</p>
      </div>
      <div class="col-md-4 text-center ">
          <p class="p-name">Programs</p>
      </div>
      <div class="col-md-4 text-end">
          <p class="percentage">4</p>
      </div>
  </div>
  <div class="progress programs-bar">
      <div class="progress-bar bg-success" style="width:70%">
      </div>
  </div>
  <div class="row">
      <div class="col-md-6 text-start">
          <p class="completed">Managed</p>
      </div>
      <div class="col-md-6 text-end">
          <p class="not-document">Crowd</p>
      </div>
  </div>
</div>

