<div class="card box shadow  resp-space">
    <div class="card-header pe-1">
      <div class="d-flex">
        <h6 class="User-onboarded mb-0">Time spent</h6>
        <div class="selectmonth">
          <span class="align-self-center font13">Show:</span>
          <select class="form-select font13">
            <option>This month</option>
            <option>August</option>
            <option>July</option>
          </select>
        </div>
      </div>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-md-6">
             <p class="program-text">Programs</p>
             <h4 class="zero">1</h4>
             <p class="available-text">0% of available</p>
             <p class="autonomous-text">Autonomous vehicle</p>
            </div>
            <div class="col-md-6">
                <p class="time-text">Time spent</p>
                <h4 class="zero">30m</h4>
                <p class="available-text">100% of total time</p>
                <ul class="range-count mb-0">
                    <li>30</li>
                    <li>60</li>
                   </ul>
                <div class="progress ">
                    <div class="progress-bar1" style="width:70%"></div>
                  </div>
            </div>

        </div>
    </div>
  </div>

