

<div class="container-fluid px-5">
  <div class=" mb-2 mt-5">
    <p class=""><span class="dashboard-bg" routerLink="/dashboard">Dashboard</span><span class="bg-user" routerLink="/qa-table"> > User
        analytics</span> <span class="program-text"> > Program </span></p>
    <h3 class="data-text mb-0">Data collection (Image)</h3>
  </div>
  <div class="col-md-9 p-0">
    <div class="row mb-2 ">
      <div class="col-md-5 my-auto">
        <h5 class="assign-text mb-0">Assigned users</h5>
      </div>
      <div class="col-md-7 font13">
        <div class="d-flex f-right">
          <div class="searchbox">
            <input type="search" class="form-control" placeholder="search">
            <span class="search-icon"><i class="fa fa-search"></i></span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row mt-2">
    <div class="col-md-9">
      <div class="manager-tbl bg-white mb-2">
        <table class="table mb-0">
          <thead class="thead-bg">
            <tr>
              <th>Name</th>
              <th>Role </th>
              <th>Email</th>
              <th>Status</th>
              <th></th>
              <th></th>

            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Michael Korr</td>
              <td>SME</td>
              <td>michael.korr@peopletech.com</td>
              <td><span class="badg bg-active">Active</span></td>
              <td></td>
              <td align="right" class="resp-width" >
                 <span class="eye-color"><i class="fa fa-eye"></i></span>
                 <span class="blockbtn"><span class="block-iconbg"><img src="../assets/images/edit-green.svg"></span> Modify</span>
                <span class="blockbtn"><span class="block-iconbg"><i class="fas fa-times"></i></span> Remove</span>
              </td>
              <!-- <td align="right"><span class="eye-color"><i class="fa fa-eye"></i></span></td>
              <td align="right">remove</td> -->
            </tr>
            <tr>
              <td>Mark Taylor</td>
              <td>SME</td>
              <td>mark.taylor@peopletech.com</td>
              <td><span class="badg bg-active">Active</span></td>
              <td></td>
              <td align="right" class="resp-width" >
                <span class="eye-color"><i class="fa fa-eye"></i></span>
                <span class="blockbtn"><span class="block-iconbg"><img src="../assets/images/edit-green.svg"></span> Modify</span>
                <span class="blockbtn"><span class="block-iconbg"><i class="fas fa-times"></i></span> Remove</span>
              </td>
              <!-- <td align="right"><span class="eye-color"><i class="fa fa-eye"></i></span></td>
              <td align="right">remove</td> -->
            </tr>


          </tbody>
        </table>
      </div>
    </div>

    <div class="col-md-3">
      <!-- <app-analytics-progressbar></app-analytics-progressbar> -->
    </div>
  </div>
</div>
<!-- footer section -->
<div class="footer">
 
</div>

