<div class="container-fluid p-0 mb-5">
    <div class="bgblue-color">
      <div class="container p-0">
        <h4 class="hi-user text-white">Hi {{UserName}},</h4>
        <p class="user-text text-white mb-0">Peopletech’s data platform is engineered to help you improve your training data
          addition and iteration loop with the ability to Annotate data, Diagnose model performance, and Prioritize based on your
          results.</p>
      </div>
    </div>
  </div>

<div class="container">
    <div class="row my-3">
        <div class="col-md-12">
        <div>
            <iframe id="myIframe" title="Updated Super Admin Report" width="100%" height="541.25" src="https://app.powerbi.com/reportEmbed?reportId=91f6b402-1967-443d-b8f3-59ae33ecc5bd&autoAuth=true&ctid=31386ae4-e5c5-4956-80b9-3868597721b3" frameborder="0" allowFullScreen="true"></iframe>
            </div> 
        </div>
    </div>
    <div class="d-flex justify-content-center row">
        <div class="p-2 mx-4 bd-highlight col-md-4" style="min-width:500px ;">
            <div class="card box shadow resp-space">
                <div class="card-header pe-1">
                    <div class="d-flex">
                        <h6 class="Client-Workflows-1 mb-0">Time spent on managing users</h6>
                        <div class="selectmonth">
                            <span class="align-self-center font13">Show:</span>
                            <select class="form-select font13">
                                <option>This month</option>
                                <option>August</option>
                                <option>July</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="card-body  my-4">
                    <p class="zero text-center mt-5">0</p>
                </div>
            </div>            
        </div>
        <div class=" p-2 mx-4 bd-highlight col-md-4">
            <div class="card box shadow  resp-space">
                <div class="card-header">
                    <h6 class="profile m-auto text-center">Profile</h6>
                </div>
                <div class="card-body">
                    <div class="text-center">
                        <img class="user-icon " src="../assets/images/account_circle.png">
                        <h6 class="user-name">{{UserName}}</h6>
                        <p class="admin-type">Manager</p>
                    </div>
                    <p class="profile-text m-0">Profile completion</p>
                    <div class="row top-contact mt-1">
                        <div class="col-md-4 text-start">
                            <p class="percentage">100%</p>
                        </div>
                        <div class="col-md-4 text-center ">
                            <p class="p-name">Profile</p>
                        </div>
                    </div>
                    <div class="progress">
                        <div class="progress-bar bg-success" style="width: 100%" role="progressbar" aria-valuenow="100"
                            aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                    <span class="completed-txt">Completed</span>
                </div>
            </div>
        </div>
      </div>
    <!-- <div class="row">
        <div class="col-md-8">
            <div class="card box shadow resp-space-2">
                <div class="card-header pe-1">
                    <div class="d-flex">
                        <h6 class="Client-Workflows mb-0">Users</h6>
                        <div class="selectmonth">
                            <span class="align-self-center font13">Show:</span>
                            <select class="form-select font13">
                                <option>This month</option>
                                <option>August</option>
                                <option>July</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <p class="No-users-text">Currently no users onboarded yet</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">

            <div class="card box shadow  resp-space">
                <div class="card-header">
                    <h6 class="profile m-auto text-center">Profile</h6>
                </div>
                <div class="card-body">
                    <div class="text-center">
                        <img class="user-icon " src="../assets/images/account_circle.png">
                        <h6 class="user-name">{{UserName}}</h6>
                        <p class="admin-type">Manager</p>
                    </div>
                    <p class="profile-text m-0">Profile completion</p>
                    <div class="row top-contact mt-1">
                        <div class="col-md-4 text-start">
                            <p class="percentage">100%</p>
                        </div>
                        <div class="col-md-4 text-center ">
                            <p class="p-name">Profile</p>
                        </div>
                    </div>
                    <div class="progress">
                        <div class="progress-bar bg-success" style="width: 100%" role="progressbar" aria-valuenow="100"
                            aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                    <span class="completed-txt">Completed</span>
                </div>

            </div>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-md-4">
            <div class="card box shadow  resp-space">
                <div class="card-header pe-1">
                <div class="d-flex">
                    <h6 class="User-onboarded mb-0">User onboarded</h6>
                    <div class="selectmonth">
                    <span class="align-self-center font13">Show:</span>
                    <select class="form-select font13">
                        <option>This month</option>
                        <option>August</option>
                        <option>July</option>
                    </select>
                    </div>
                </div>
                </div>
                <div class="card-body my-4">
                <div class="row">
                    <div class="col-md-7">
                    <div class="internal-pad">
                        <span class="font25">0</span>
                    </div>
                    </div>
                    <div class="col-md-5 status-color my-auto">
                    <ul class="clr-list">
                        <li class="side-text"><img src="../assets/images/Ellipse 1.png"> Managed</li>
                        <li class="side-text"><img src="../assets/images/Ellipse 2.png"> SME</li>
                        <li class="side-text"><img src="../assets/images/Ellipse 3.png"> QA</li>
                        <li class="side-text"><img src="../assets/images/Ellipse 4.png"> Blocked</li>
                    </ul>
                    </div>
                </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card box shadow resp-space">
                <div class="card-header pe-1">
                    <div class="d-flex">
                        <h6 class="Client-Workflows-1 mb-0">Time spent on managing users</h6>
                        <div class="selectmonth">
                            <span class="align-self-center font13">Show:</span>
                            <select class="form-select font13">
                                <option>This month</option>
                                <option>August</option>
                                <option>July</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="card-body  my-4">
                    <p class="zero text-center mt-5">0</p>
                </div>
            </div>
        </div>
    </div> -->
</div>