<div class="content-section p-0">
  <div class="default-container">
      <app-top-nav style="flex: 1;"></app-top-nav>
    <ng-template app-Placeholder></ng-template>
    <mat-sidenav-container class="example-sidenav-container">
      <mat-sidenav-content>
        <div class="main-wrapper">
          <div class="main-content">
            <router-outlet class="router"></router-outlet>
          </div>
        </div>
       
      </mat-sidenav-content>
    </mat-sidenav-container>

  </div>
</div>
