
<nav class="navbar navbar-expand-lg navbar-light bg-white">
  <div class="container-fluid my-2 " style="width: 86%;">
    <img class="ptglogo" src="../assets/images/people-tech-logo.png" w-50 />
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <div class=" me-auto"> </div>
      <div class="d-flex  w-auto">
        <ul class="navbar-nav  mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" (click)="goDown0()">Platform</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" (click)="goDown1()">Solutions</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" (click)="goDown2()">Learn</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" (click)="goDown3()">Pricing</a>
          </li>
          <li class="nav-item">
            <a class="nav-link">FAQ</a>
          </li>
          <li class="nav-item">
            <div class="row">
              <div class="column my-auto">
                <img src="../../../assets/images/help-icon.png" alt="">
              </div>
              <div class="column p-0">
                <a class="nav-link">Help</a>
              </div>
            </div>

          </li>
          <li class="nav-item" style="margin-top: 4px;">
            <button type="button" routerLink="/login" class="btn btn-signIn">Sign In</button>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>

<div class="container-fluid p-0" id="human-text">
  <div class="container-fluid p-0">
    <div class="banner-bg header">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-1"></div>
          <div class="col-md-5 banner-content mt-2">
            <h6 class="Leverage-bannertext mb-4">Leverage Human-Intelligence to Set the Level Up!</h6>
            <p class="banner-para1 mb-3">Advance your standard technologies with a robust data-centric AI development
              approach.
              (Tool name) now becomes the one-stop data labeling platform that will help you in fast data iterations and
              easy scaling to support AI/ML development.
              Our goal is to improve your training data addition & iteration loop with the ability to annotate data,
              diagnose model performance and manage solutions according to requirements.
            </p>
            <button type="button" class="btn demo-btn"><img src="../../../assets/images/desktop_mac.svg"> Free
              Demo</button>
            <button class="singup-btn btn mx-3"><img src="../../../assets/images/person_add.svg"> SignUp Now</button>
          </div>
          <!-- <div class="col-md-7 banner-content mt-2">
            <h6 class="Leverage-bannertext mb-4">Leverage Human-Intelligence to Set the Level Up!</h6>
            <p class="banner-para1 mb-3">Advance your standard technologies with a robust data-centric AI development
              approach.
              (Tool name) now becomes the one-stop data labeling platform that will help you in fast data iterations and
              easy scaling to support AI/ML development.
              Our goal is to improve your training data addition & iteration loop with the ability to annotate data,
              diagnose model performance and manage solutions according to requirements.
            </p>
            <button type="button" class="btn demo-btn">Free Demo</button>
            <p class="singup-txt">SignUp Now</p>

          </div> -->
          <!-- <div class="col-md-5 text-center mt-3">
            <img src="../../../assets/images/landing-pagebanner.png" width="80%">
          </div> -->
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid p-0">
  <div class="excelValue-bg">
    <div class="container-fluid">
      <div class="row pt-5">
        <div class="col-md-1"></div>
        <div class="col-md-3 my-auto">
          <h2 class="excel-head">Excel Real <br> Business Value</h2>
        </div>
        <div class="col-md-7">
          <div class="row">
            <div class="col-md-6 mb-3">
              <div class="d-flex">
                <div class="me-2">
                  <img src="../../../assets/images/btr-targeting-icon.svg" width="90%">
                </div>
                <div>
                  <h5 class="better-targeting">Better Targeting </h5>
                  <p class="excel-para">Target the best audience by knowing customer business direction,
                    objectives,
                    and concerns they have.</p>
                </div>
              </div>
            </div>
            <div class="col-md-6 mb-3">
              <div class="d-flex">
                <div class="me-2">
                  <img src="../../../assets/images/new-bussiness-icon1.svg" width="90%">
                </div>
                <div>
                  <h5 class="better-targeting">Obtain Accurate Data</h5>
                  <p class="excel-para">Apply state-of-the-art technologies to obtain accurate data, eliminating
                    human
                    error & making more thoughtful decisions.</p>
                </div>
              </div>
            </div>
            <div class="col-md-6 mb-3">
              <div class="d-flex">
                <div class="me-2">
                  <img src="../../../assets/images/new-bussiness-icon2.svg" width="90%">
                </div>
                <div>
                  <h5 class="better-targeting">Enrich Quality</h5>
                  <p class="excel-para">Prevent your company from data decay due to old and redundant data records
                    and
                    improve the quality of their datasets</p>
                </div>
              </div>
            </div>
            <div class="col-md-6 mb-3">
              <div class="d-flex">
                <div class="me-2">
                  <img src="../../../assets/images/excel-innvotion.svg" width="90%">
                </div>
                <div>
                  <h5 class="better-targeting">Top-Notch Innovation</h5>
                  <p class="excel-para">Data analysis also give you a rough idea of the future trends of the
                    market
                    that will enable you to make futuristic inventions for your products.</p>
                </div>
              </div>
            </div>
            <div class="col-md-6 mb-3">
              <div class="d-flex">
                <div class="me-2">
                  <img src="../../../assets/images/optimazation-icon.svg" width="90%">
                </div>
                <div>
                  <h5 class="better-targeting">Cost Optimization</h5>
                  <p class="excel-para">Pay-as-you-go and stay under budget with significant cost savings at scale
                    and
                    no data minimum</p>
                </div>
              </div>
            </div>
            <div class="col-md-6 mb-3">
              <div class="d-flex">
                <div class="me-2">
                  <img src="../../../assets/images/new-bussiness-icon3.svg" width="90%">
                </div>
                <div>
                  <h5 class="better-targeting">Fastest Resolution</h5>
                  <p class="excel-para">Our largest global crowd is available 24/7, helping you reduce the time to
                    label data from days to minutes and meet your target quickly.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



<div class="parllex-effect" id="targetRed">
  <div class="container-fluid solution-background p-5" id="home">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10">
          <p class="solutions-text mt-5">Solutions to Meet Needs</p>
          <p class="our-platform-text">Our platform blends the AI-ML model with human Workforce</p>
        </div>
      </div>
    </div>
    <div class="container-fluid">
      <!--  <div class="section" style="min-height: 50px;">                     </div> -->
      <div class="section">
        <div class="section-body">
          <p class="Data-collection-text mt-5">Data Collection Platform</p>
          <p class="collection-down-text-1"><img src="../assets/images/solution-newicon.svg"> <span class="mx-3">End-to-end collection</span></p>
          <p class="collection-down-text-1"><img src="../assets/images/solution-newicon.svg"> <span class="mx-3">Indoor and outdoor</span></p>
          <p class="collection-down-text-1"><img src="../assets/images/solution-newicon.svg"> <span class="mx-3">Business Data</span></p>
          <p class="collection-down-text-1"><img src="../assets/images/solution-newicon.svg"> <span class="mx-3">Survey</span></p>
          <p class="collection-down-text-1"><img src="../assets/images/solution-newicon.svg"> <span class="mx-3">Prime quality Data</span></p>
          <p class="collection-down-text-1"><img src="../assets/images/solution-newicon.svg"> <span class="mx-3">Best intelligence experts</span></p>
        </div>
        <div class="section-image">
          <div [ngClass]="myClassPosition == '51' ? 'section-img-inner   ' : 'section-img-inner my_class1'">
          </div>
        </div>
        
      </div>
      <div class="section">
        <div class="section-body">
          <p class="Data-collection-text mt-5">Image & Video Data Labelling</p>
          <p class="collection-down-text-1"><img src="../assets/images/solution-newicon.svg"> <span class="mx-3">Enclose objects in Image</span></p>
          <p class="collection-down-text-1"><img src="../assets/images/solution-newicon.svg"> <span class="mx-3">Segmentation</span></p>
          <p class="collection-down-text-1"><img src="../assets/images/solution-newicon.svg"> <span class="mx-3">Masking</span></p>
          <p class="collection-down-text-1"><img src="../assets/images/solution-newicon.svg"> <span class="mx-3">Comparison</span></p>
          <p class="collection-down-text-1"><img src="../assets/images/solution-newicon.svg"> <span class="mx-3">Moderation</span></p>
        </div>
        <div class="section-image">
            <div class="section-img-inner"
            style="background-image: url(../../../assets/images/solution-meet-need-new2\ \(2\).png); width: 42%; background-color:rgba(68, 135, 243, 0.5); border-radius: 30px; ">
          </div>
        </div>
      </div>
      <div class="section">
        <div class="section-body">
          <p class="Data-collection-text mt-5">Speech Data Services</p>
          <p class="collection-down-text-1"><img src="../assets/images/solution-newicon.svg"> <span class="mx-3">Sound to speech labelling</span></p>
          <p class="collection-down-text-1"><img src="../assets/images/solution-newicon.svg"> <span class="mx-3">Quality evaluation</span></p>
          <p class="collection-down-text-1"><img src="../assets/images/solution-newicon.svg"> <span class="mx-3">Speech-Text Transcription</span></p>
          <p class="collection-down-text-1"><img src="../assets/images/solution-newicon.svg"> <span class="mx-3">Speech Classification</span></p>
          <p class="collection-down-text-1"><img src="../assets/images/solution-newicon.svg"> <span class="mx-3">Sample recording</span></p>
          <p class="collection-down-text-1"><img src="../assets/images/solution-newicon.svg"> <span class="mx-3">Speech moderation</span></p>
        </div>
        <div class="section-image">
          <div class="section-img-inner"
            style="background-image: url(../../../assets/images/solution-meet-need-new3\ \(2\).png); width: 42%; background-color: rgba(68, 135, 243, 0.5); border-radius: 30px; "></div>
        </div>
      </div>
      <div class="section">
        <div class="section-body">
          <p class="Data-collection-text mt-5">Text</p>
          <p class="collection-down-text-1"><img src="../assets/images/solution-newicon.svg"> <span class="mx-3">Content Creation</span></p>
          <p class="collection-down-text-1"><img src="../assets/images/solution-newicon.svg"> <span class="mx-3">Text Classification</span></p>
          <p class="collection-down-text-1"><img src="../assets/images/solution-newicon.svg"> <span class="mx-3">Sentiment Analysis</span></p>
          <p class="collection-down-text-1"><img src="../assets/images/solution-newicon.svg"> <span class="mx-3">Image to Text Transcription</span></p>
          <p class="collection-down-text-1"><img src="../assets/images/solution-newicon.svg"> <span class="mx-3">Text Moderation</span></p>
          <p class="collection-down-text-1"><img src="../assets/images/solution-newicon.svg"> <span class="mx-3">Check Content Key-phrase</span></p>
        </div>
        <div class="section-image">
          <div class="section-img-inner"
            style="background-image: url(../../../assets/images/solution-meet-need-new4\ \(2\).png); width: 42%; background-color: rgba(68, 135, 243, 0.5); border-radius: 30px; "></div>
        </div>
      </div>
      <div class="section">
        <div class="section-body">
          <p class="Data-collection-text mt-5">Geospatial Data</p>
          <p class="collection-down-text-1"><img src="../assets/images/solution-newicon.svg"> <span class="mx-3">Content Creation</span></p>
          <p class="collection-down-text-1"><img src="../assets/images/solution-newicon.svg"> <span class="mx-3">Text Classification</span></p>
          <p class="collection-down-text-1"><img src="../assets/images/solution-newicon.svg"> <span class="mx-3">Sentiment Analysis</span></p>
          <p class="collection-down-text-1"><img src="../assets/images/solution-newicon.svg"> <span class="mx-3">Image to Text Transcription</span></p>
          <p class="collection-down-text-1"><img src="../assets/images/solution-newicon.svg"> <span class="mx-3">Text Moderation</span></p>
          <p class="collection-down-text-1"><img src="../assets/images/solution-newicon.svg"> <span class="mx-3">Check Content Key-phrase</span></p>
        </div>
        <div class="section-image">
          <div class="section-img-inner"
            style="background-image: url(../../../assets/images/solution-meet-need-new5\ \(2\).png); width: 42%; background-color: rgba(68, 135, 243, 0.5); border-radius: 30px; "></div>
        </div>
      </div>
      <div class="section">
        <div class="section-body">
          <p class="Data-collection-text mt-5">Relevance</p>
          <p class="collection-down-text-1"><img src="../assets/images/solution-newicon.svg"> <span class="mx-3">Frame Locations</span></p>
          <p class="collection-down-text-1"><img src="../assets/images/solution-newicon.svg"> <span class="mx-3">Map Conceptualization</span></p>
          <p class="collection-down-text-1"><img src="../assets/images/solution-newicon.svg"> <span class="mx-3">Collect each detail</span></p>
          <p class="collection-down-text-1"><img src="../assets/images/solution-newicon.svg"> <span class="mx-3">Data Verification</span></p>
          <p class="collection-down-text-1"><img src="../assets/images/solution-newicon.svg"> <span class="mx-3">Lanes & traffic Analysis</span></p>
          <p class="collection-down-text-1"><img src="../assets/images/solution-newicon.svg"> <span class="mx-3">Information Moderation</span></p>
        </div>
        <div class="section-image">
          <div class="section-img-inner"
            style="background-image: url(../../../assets/images/solution-meet-need-new6\ \(2\).png); margin-right: -40px; width: 42%; top: 25px;  position: absolute; background-color: rgba(68, 135, 243, 0.5); border-radius: 30px; ">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid p-0">
  <div class="parllex-background">
    <div class="solAreas-bg">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-1"></div>
          <div class="col-md-10">
            <div class="pt-5">
              <h2 class="solArea-head">Focused Solution Areas</h2>
            </div>
            <div class="row py-3">
              <div class="col-md-2 text-center">
                <div class="cust-card card text-center">
                  <div class="m-auto">
                    <img class="solution-icons" src="../../../assets/images/eCommerce-img.svg" alt="">
                  </div>
                </div>
                <p class="soltion-para-1">E-commerce</p>
              </div>
              <div class="col-md-2 text-center">
                <div class="cust-card card text-center">
                  <div class="m-auto">
                    <img class="solution-icons" src="../../../assets/images/revalance-img.svg" alt="" >
                  </div>
                </div>
                <p class="soltion-para-2">Search Relevance</p>
              </div>
              <div class="col-md-2 text-center">
                <div class="cust-card card text-center">
                  <div class="m-auto">
                    <img class="solution-icons" src="../../../assets/images/social-science-img.svg" alt="" >
                  </div>
                </div>
                <p class="soltion-para-3">Social Science</p>
              </div>
              <div class="col-md-2 text-center">
                <div class="cust-card card text-center">
                  <div class="m-auto">
                    <img class="solution-icons" src="../../../assets/images/computerVison-img.svg" alt="" >
                  </div>
                </div>
                <p class="soltion-para-4">Computer Vision</p>
              </div>
              <div class="col-md-2 text-center">
                <div class="cust-card card text-center">
                  <div class="m-auto">
                    <img class="solution-icons" src="../../../assets/images/FieldDta-img.svg" alt="" >
                  </div>
                </div>
                <p class="soltion-para-5 ">Field Data Collection</p>
              </div>
              <div class="col-md-2 text-center">
                <div class="cust-card card text-center">
                  <div class="m-auto">
                    <img class="solution-icons" src="../../../assets/images/NLP-img.svg" alt="" >
                  </div>
                </div>
                <p class="soltion-para-6">NLP</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="container-fluid p-0">
  <div class="caret-bg">
    <div class="container-fluid mb-5">
      <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10">
          <div class="py-4">
            <h2 class="caret-heading"> Get the Fastest Industry Insights</h2>
          </div>
          <div class="py-3">
            <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel" data-interval="200000">
              <ol class="carousel-indicators">
                <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
              </ol>
              <div class="carousel-inner carettext">
                <div class="carousel-item active corsl">
                  <div class="row ">
                    <div class="col-md-8 p-0">
                      <img src="../../../assets/images/medical-new-img.jpg" width="100%" class="corimg">
                    </div>
                    <div class="col-md-4 medicalCaret-bgcolor">
                      <div class="ms-3 my-3">
                        <h5 class="caret-heading1 mt-4 mx-5">Medical AI</h5>
                      <span class="d-flex mx-3"><img src="../../../assets/images/down-arrow-new.svg" class="down-arrow me-2"> <p class="medical-text2">
                          <strong>Accurate medical
                            image annotation :</strong> CT and MRI scans can be used to train the machine learning
                          model
                        </p></span>
                        <span class="d-flex mx-3"><img src="../../../assets/images/down-arrow-new.svg" class="down-arrow me-2"> <p class="medical-text2">
                          <strong>Medical AI system
                            to work :</strong> Label tumors, fractures, or the presence of an indicator for an
                          infectious
                          disease
                        </p></span>
                        <span class="d-flex mx-3"> <img src="../../../assets/images/down-arrow-new.svg" class="down-arrow me-2"><p class="medical-text2">
                          <strong>Assisting
                            professionals in their daily work :</strong> The Best decision-making with annotated
                          algorithms.
                        </p></span>
                        <span class="d-flex mx-3"><img src="../../../assets/images/down-arrow-new.svg" class="down-arrow me-2"><p class="medical-text2"> AI
                          can
                          analyze
                          visual data in a fraction of the time that <strong>Shorten diagnosis</strong> and treatment
                          times and reduce the risk of human error.</p></span>
                          <span class="d-flex mx-3"> <img src="../../../assets/images/down-arrow-new.svg" class="down-arrow me-2"><p class="medical-text2">
                          <strong>Empower faster
                            medical research :</strong> AI is used to test and analyze patterns in massive datasets.
                        </p></span>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="carousel-item corsl">
                  <div class="row">
                    <div class="col-md-4 AutomunousCaret-bgcolor">
                      <div class="ms-3 my-5">
                        <h5 class="caret-heading1 mt-4 mx-5">Autonomous Vehicle AI</h5>
                        <span class="d-flex mx-3"> <img src="../../../assets/images/down-arrow-new.svg" class="down-arrow me-2"><p class="medical-text2">
                          <strong> Measuring object distance:</strong> Sense the distance of each object from the
                          vehicle
                          and measure the spacing using 3D cuboid annotation.
                        </p></span>
                        <span class="d-flex mx-3"><img src="../../../assets/images/down-arrow-new.svg" class="down-arrow me-2"><p class="medical-text2">
                          <strong>Detect Irregular Shapes for Computer Vision : </strong> Safe and trouble-free
                          driving of
                          such vehicles backed with successful AI-models
                        </p></span>
                        <span class="d-flex mx-3"> <img src="../../../assets/images/down-arrow-new.svg" class="down-arrow me-2"><p class="medical-text2">
                          <strong> Detect Lanes for Self-driving Vehicles :</strong> Lane detection by defining
                          bicycle,
                          directions, divergence, and opposite direction traffic & more.
                        </p></span>
                      </div>
                    </div>
                    <div class="col-md-8 p-0">
                      <img src="../../../assets/images/Autonomous-new-img (2).png" width="100%" class="corimg">
                    </div>
                    
                  </div>
                </div>
                <div class="carousel-item corsl">
                  <div class="row">
                    <div class="col-md-8 p-0">
                      <img src="../../../assets/images/Sports-new-img.png" width="100%" class="corimg">
                    </div>
                    <div class="col-md-4 sportscaret-bgcolor">
                      <div class="ms-3 py-4">
                        <h5 class="caret-heading1 mb-3 mx-5">Sports AI</h5>
                        <span class="d-flex mx-3"><img src="../../../assets/images/down-arrow-new.svg" class="down-arrow me-2"><p class="medical-text2">
                          <strong>Player position Tracking :</strong> Label players from game footages using bounding
                          boxes, process quality training, annotate player position
                        </p></span>
                        <span class="d-flex mx-3"><img src="../../../assets/images/down-arrow-new.svg" class="down-arrow me-2"><p class="medical-text2">
                          <strong>Action Identification :</strong> We label various poses of players used for action
                          identification using key points and bounding boxes.
                        </p></span>
                        <span class="d-flex mx-3"> <img src="../../../assets/images/down-arrow-new.svg" class="down-arrow me-2"><p class="medical-text2">
                          <strong> Player Segmentation :</strong> Our experts help sports clubs’ segment, players from
                          game footage & drive meaningful insights for your model from it.
                        </p></span>
                        <span class="d-flex mx-3"><img src="../../../assets/images/down-arrow-new.svg" class="down-arrow me-2"><p class="medical-text2">
                          <strong> Annotation Validation :</strong> Provide the best validation support for the model
                          generated annotations and correct anomalies arising in it.
                        </p></span>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="carousel-item corsl">
                  <div class="row">
                    <div class="col-md-4 Ecommerce-bgcolor">
                      <div class="ms-3 py-4">
                        <h5 class="caret-heading1 mb-3 mx-5">AI in eCommerce</h5>
                        <span class="d-flex mx-3"><img src="../../../assets/images/down-arrow-new.svg" class="down-arrow me-2"><p class="medical-text2">
                          <strong> Natural language processing: </strong>Interpret voice-based consumer interactions
                          and
                          meet on-time customer requirements.
                        </p></span>
                        <span class="d-flex mx-3"><img src="../../../assets/images/down-arrow-new.svg" class="down-arrow me-2"><p class="medical-text2">
                          <strong>Product Categorization and Classification:</strong> Annotation and Labelling help
                          website visitors find actual products by actual categorization.
                        </p></span>
                        <span class="d-flex mx-3"><img src="../../../assets/images/down-arrow-new.svg" class="down-arrow me-2"><p class="medical-text2">
                          <strong> Hyper-Personalization:</strong> AI, Labelling, & Annotations to improve the online
                          shopping experience by targeting customers with suitable campaigns.
                        </p></span>
                        <span class="d-flex mx-3"><img src="../../../assets/images/down-arrow-new.svg" class="down-arrow me-2"><p class="medical-text2">
                          <strong> Annotation Validation :</strong> Provide the best validation support for the model
                          generated annotations and correct anomalies arising in it.
                        </p></span>
                      </div>
                    </div>
                    <div class="col-md-8 p-0">
                      <img src="../../../assets/images/Commerce-new-img (2).png" width="100%" class="corimg">
                    </div>
                  </div>
                </div>
              </div>
              <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                <div class="courosel-caret-1">
                  <img src="../../../assets/images/arrow-left.svg">
                </div><span class="visually-hidden">Previous</span>
              </a>
              <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                <div class="courosel-caret">
                  <img src="../../../assets/images/arrow-right.svg">
                </div>
                <span class="visually-hidden">Next</span>
                <span class="sr-only">Next</span>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



<div class="container-fluid p-5" id="second-text">
  <div class="knowledgeRoom-bg">
    <div class="container-fluid knowledgeRoom-txt">
      <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10">
          <div class="row py-4">
            <div class="col-md-6">
              <h2 class="knowledge-head mt-3">Room for Knowledge</h2>
              <p class="knowledge-para">We are introducing the best crowdsourcing platform to host communities that
                respond
                to specific
                challenges by submitting insights, ideas, or business propositions for new products and
                services.Interested in gathering more knowledge? Learn from the below resources</p>
              <button type="button" class="btn learnMore-btn">Learn more</button>
            </div>
            <div class="col-md-6 text-center mt-4">
              <div class="row mb-3">
                <div class="col-md-6">
                  <img src="../../../assets/images/edureka-img.svg" width="90%">
                </div>
                <div class="col-md-6">
                  <img src="../../../assets/images/edureka-img.svg" width="90%">
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <img src="../../../assets/images/edureka-img.svg" width="90%">
                </div>
                <div class="col-md-6">
                  <img src="../../../assets/images/edureka-img.svg" width="90%">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid p-5" id="pricing-text">
  <div class="pricing-bg">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10">
          <div class="row pt-5">
            <div class="col-md-5">
              <h2 class="pricing-head mt-4">Pricing</h2>
              <p class="pricing-para">
                Our platform has state-of-the-art technologies and quality control tools with highly customizable data
                workflows, from experiments and one-off projects to automated data pipelines. Customized solutions and
                its
                pricing are developed on request to support data-related processes across the entire machine learning
                lifecycle — data collection and annotation to model training, deployment and monitoring.
              </p>
              <button type="button" class="btn learnMore-btn">Learn more</button>
            </div>
            <div class="col-md-1"></div>
            <div class="col-md-6 my-auto mx-auto">
              <div class="row ">
                <div class="column">
                  <img src="../../../assets/images/payUse-img.svg" width="25%">
                  <h5 class="pricingPara">Pay only for <br>
                    what you use</h5>
                </div>
                <div class="column">
                  <img src="../../../assets/images/rewards-new.svg" width="20%">
                  <h5 class="pricingPara">People's <br> Reward</h5>

                </div>
                <div class="column">
                  <img src="../../../assets/images/platformFee-img.svg" width="25%" class="mt-2">
                  <h5 class="pricingPara">Platform <br> Fee</h5>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid p-0">
  <div class="grey-bg">
    <div class="container-fluid py-5">
      <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10">
          <div class="workBanner-bg">
            <div class="row">
              <div class="col-md-5 my-auto workText text-center">
                <h3 class="how-its-text">How It Works</h3>
              </div>
              <div class="col-md-7 mt-4 lineText">
                <ul>
                  <li class="collect-text"><img class="collection-image " src="../../../assets/images/collect-icon.svg">
                    <span class="how-its-side-text mx-3">Collect</span>
                  </li>
                  <li class="collection-down-text mx-5">Collection of data from various sources or user inputs</li>
                  <li class="vl-1 mx-3"></li>
                </ul>
                <ul>
                  <li class="collect-text"><img class="collection-image" src="../../../assets/images/analyse-icon.svg">
                    <span class="how-its-side-text mx-3">Analyse</span></li>
                  <li class="collection-down-text mx-5">Review collected data as subjective content and analyse for
                    accuracy</li>
                  <li class="vl-1 mx-3"></li>
                </ul>
                <ul>
                  <li class="collect-text"><img class="collection-image" src="../../../assets/images/label-icon.svg">
                    <span class="how-its-side-text mx-3">Label</span>
                  </li>
                  <li class="collection-down-text mx-5">Annotate and label data for identification</li>
                  <li class="vl-1 mx-3"></li>
                </ul>
                <ul>
                  <li class="collect-text"><img class="collection-image" src="../../../assets/images/store-icon.svg">
                    <span class="how-its-side-text mx-3">Store</span>
                  </li>
                  <li class="collection-down-text mx-5">Store all labeled data outputs in the form of datasets</li>
                  <li class="vl-1 mx-3"></li>
                </ul>
                <ul>
                  <li class="collect-text"><img class="collection-image"
                      src="../../../assets/images/generatedata-icon.svg">
                    <span class="how-its-side-text mx-3">Generate data model</span>
                  </li>
                  <li class="collection-down-text mx-5">Create a data model out of the stored datasets.</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid footer-bg">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-1"></div>
      <div class="col-md-10">
        <footer>
          <div class="row m-0">
            <div class="col-md-5 p-0">
              <ul class="btm-mrgn-1 resp-pos">
                <li><a href="javascript:void(0)">Platform</a></li>
                <li><a href="javascript:void(0)">Solutions</a></li>
                <li><a href="javascript:void(0)">Learn</a></li>
                <li><a href="javascript:void(0)">Pricing</a></li>
                <li><a href="javascript:void(0)">FAQ</a></li>
                <li><a href="javascript:void(0)">How It Works</a></li>
              </ul>
              <div class="f-logo-ptg">
                <img src="../../../assets/images/people-tech-logo.svg">
              </div>
            </div>
            <div class="col-md-3 f-social-media-icon">
              <h6 class="btm-mrgn mx-4">Social Media</h6>
              <ul class="mb-0">
                <li><a href="javascript:void(0)"><img class="fb" src="../../../assets/images/Facebook.svg"></a></li>
                <li><a href="javascript:void(0)"><img class="twi" src="../../../assets/images/twitter.svg"></a></li>
                <li><a href="javascript:void(0)"><img class="link" src="../../../assets/images/linkedin.svg"></a></li>
                <li><a href="javascript:void(0)"><img class="insta" src="../../../assets/images/instagram.svg"></a>
                </li>
                <li><a href="javascript:void(0)"><img class="print" src="../../../assets/images/pinterest.svg"></a>
                </li>
              </ul>
            </div>
            <div class="col-md-4 mt-auto">
              <div class="d-flex btm-mrgn justfy-end">
                <button class="btn bookaconsult">BOOK A CONSULT</button>
                <button class="btn privacy-btn">PRIVACY POLICY</button>
              </div>
              <p class="ptg-group text-right">&copy; 2021-2022 Peopletech Group.</p>
            </div>
          </div>
        </footer>
      </div>
    </div>
  </div>
</div>