

<div class="container-fluid p-0">
    <div class="festive-data-colllection">
        <h5 class="fest-text mt-4 mx-3"><img src="../assets/images/festive-arrow.svg" width="25px"> Festive data
            collection (Image)</h5>
        <nav class="navbar navbar-expand-sm navbar-dark mt-4">
            <div class="container-fluid p-0">
                <!-- <a class="navbar-brand" href="javascript:void(0)"></a> -->
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mynavbar">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="mynavbar">
                    <ul class="navbar-nav me-auto">
                        <li class="nav-item">
                            <a class="nav-link"><img src="../assets/images/festive-star.svg" width="25px"> <span
                                    class="bg-green"> 3.6 </span>(214 Reviews)</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link"><img src="../assets/images/collectionicon-6.svg" width="22px"><span
                                    class="bg-green"> Collection</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link"><img src="../assets/images/festive-correct.svg" width="22px"><span
                                    class="bg-green"> 2</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link"><img src="../assets/images/festive-clock.svg" width="22px"><span
                                    class="bg-green"> 5-6min</span></a>
                        </li>
                    </ul>
                    <div>
                        <ul class="header-btns">
                            <li class="mt-auto">
                                <button class="training-btn btn">Training on Task</button>
                            </li>
                            <li>
                                <h6 class="orange-text mb-0">Progress</h6>
                                <button class="progress-btn btn mx-2 mt-1">1 of 2</button>
                            </li>
                            <li>
                                <h6 class="orange-text mb-0">Time remaining</h6>
                                <button class="time-btn btn mt-1">3:00</button>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </nav>
        <div class="container">
            <h5 class="collect-text mt-3">Collect and upload images of lighted candel</h5>
            <h6 class="image-upload mt-3">Images to upload:<span class="max"> Max 5</span> </h6>
            <h6 class="follow-task mt-3">Follow the task specifications below:
                <ul class="buttom-line mt-3">
                    <li> You are required to collect 5 images of lighted candels</li>
                    <li> Image sizes should be within 1mb</li>
                    <li> Image resolutions should be above 72 and bigger than 800x600</li>
                </ul>
            </h6>
            <div class="col-md-4 mt-4">
                <div class="card-responsive p-0">
                    <div class="card-body box shadow ">
                        <div class="text-center">
                            <img src="../assets/images/up-arrow.png">
                            <h6 class="drag-text mt-2">Drag and drop document or <a class="browse" href="#" type="file"
                                    id="myfile" name="myfile"> Browse</a></h6>                                
                        </div>
                        <p class="uploading-image">Uploading image 4 of 5</p>
                                    <div class="progress ">
                                        <div class="progress-bar" style="width:70%"></div>
                                      </div>
                    </div>
                </div>
            </div>
            <img class="rangoli mt-5" src="../assets/images/diwali-image-1.png">
        </div>
        <div class="row">
           <div class="col-md-4">
           </div> 
           <div class="col-md-3">
            <div class="zoom-functions mb-0 mx-5 d-flex">
                <img class="image-1 mx-1" src="../assets/images/festive-left.svg">
                <img class="image-2 mx-2" src="../assets/images/zoom-in.svg">
                <img class="image-3 mx-1" src="../assets/images/zoom-out.svg">
                <p class="per-100 mt-2">100%</p>
                <img class="image-4 mx-2" src="../assets/images/down-arrow-fes.svg">
                <img class="image-5 mx-2" src="../assets/images/fullscreen-icon.svg">
                <img class="image-6 mx-2" src="../assets/images/festive-right.svg">
            </div>
           </div>
        </div>
       
   
        <!-- <div class="container">
            <div class="col-md-8 mt-5">
                <div class="card box shadow">
                    <div class="card-body diwali-images">
                        <img class="diwali-1" src="../assets/images/diwali-1.png" width="25%">
                        <img class="diwali-1" src="../assets/images/diwali-2.png">
                        <img class="diwali-1" src="../assets/images/diwali-3.png">
                        <img class="diwali-1" src="../assets/images/diwali-4.png">
                        <img class="diwali-1" src="../assets/images/diwali-5.png">
                    </div> 
                    <button class="confirm-upload"><img src="../assets/images/confirm-uploadicon.svg">Confirm upload</button>
                </div>
            </div>
        </div> -->
        <div class="container-fluid p-0 ">
            <div class="row m-0">
                
                <div class="col-md-3 ml-auto">
                    <div class="card box shadow  resp-space chat-width">
                        <div class="card-header pe-1">
                            <div class="d-flex">
                                <p class="need-help"><img src="../assets/images/question-mark.svg"> Need help ?</p>
                            </div>
                        </div>
                        <div class="card-body my-auto paragraph-overflow">
                            <p>Please follow the instructions below in order to get assistance on tasks:
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                incididunt
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                incididunt
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                incididunt
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                incididunt
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                incididunt
                            </p>
                        </div>
                        <button class="chats-btn btn"><img class="mx-1" src="../assets/images/add-user-icon.svg">Chat
                            with an Expert</button>
                    </div>
                </div>
            </div>
            <footer class="buttom-section">
                <nav class="navbar-1 navbar-expand-sm navbar-dark mt-5">
                    <div class="container-fluid p-0">
                        <!-- <a class="navbar-brand" href="javascript:void(0)"></a> -->
                        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                            data-bs-target="#mynavbar">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse" id="mynavbar">
                            <ul class="navbar-nav me-auto">
                                <li class="nav-item">
                                    <a class="nav-link"><button class="submit-btn btn">Submit & Exit</button></a>
                                </li>
                            </ul>
                            <div class="">
                                <button class="exit-btn btn"><img src="../assets/images/exit-arrow.svg" width="18px">
                                    Exit to Task Programs</button>
                                <button class="skip-btn btn mx-2"><img src="../assets/images/skip_next.svg"
                                        width="18px"> Skip</button>
                                <button class="Next-btn btn mx-4"> Next Task <img
                                        src="../assets/images/arrow_forward.svg" width="18px"></button>
                            </div>
                        </div>
                    </div>
                </nav>
            </footer>
        </div>

       