<div class="card box shadow  resp-space">
    <div class="card-header">
        <h6 class="profile my-2">Profile</h6>
    </div>
    <div class="card-body">
        <div class="text-center">
            <img class="user-icon " src="../assets/images/account_circle.png">
            <h6 class="user-name">Amanda Lynn</h6>
            <p class="admin-type">SME</p>
        </div>
        <p class="profile-text m-0">Profile completion</p>
        <div class="row top-contact mt-1">
            <div class="col-md-4 text-start">
                <p class="percentage">100%</p>
            </div>
            <div class="col-md-4 text-center ">
                <p class="p-name">Profile</p>
            </div>
        </div>
        <div class="progress">
            <div class="progress-bar bg-success" style="width:100%">
            </div>
            
        </div>
        <div class="row">
            <div class="col-md-6 text-start">
                <p class="completed">Completed</p>
            </div>
        </div>
        <p class="review-text">Reviews</p>
        <img src="../assets/images/heart-icon.svg"> <span class="zero-number mx-3">3</span><span class="review-text-1">(1 of 1 programs)</span>
        <img class="sme-graph mx-3" src="../assets/images/graph-sme.png" width="90%">
        <div class="row mt-1">
            <div class="col-md-6">
                <p class="review-text">T-Put</p>
                <img src="../assets/images/t-put-icon.svg"> <span class="zero-number mx-3">1.1</span>
            </div>
            <div class="col-md-6">
                <p class="review-text">Task Score</p>
                <img src="../assets/images/task-score-icon.svg"> <span class="zero-number mx-3">8</span>
            </div>
        </div>
    </div>