<div class="card box shadow  resp-space">
    <div class="card-header pe-1">
      <div class="d-flex">
        <h6 class="User-onboarded mb-0">Queries on Tasks</h6>
        <div class="selectmonth">
          <span class="align-self-center font13">Show:</span>
          <select class="form-select font13">
            <option>This month</option>
            <option>August</option>
            <option>July</option>
          </select>
        </div>
      </div>
    </div>
    <div class="card-body my-5">
      <div class="row">
        <div class="col-md-7">
          <div class="internal-pad">
            <span class="font25 ">2</span>
           </div>
        </div>
        <div class="col-md-5 status-color">
          <ul class="clr-list">
            <li class="side-text"><img src="../assets/images/Ellipse 1.png"> Active</li>
            <li class="side-text"><img src="../assets/images/Ellipse 2.png"> Resolved</li>
            <!-- <li><img src="../assets/images/Ellipse 3.png"> Approved</li>
            <li><img src="../assets/images/Ellipse 4.png"> Rejected</li> -->
          </ul>
        </div>
      </div>
    </div>
  </div>
  