
<div class="container">
    <p class="amazon-text mt-4">Amazon</p>
    <ul class="nav">
        <li class="nav-item">
          <a class="nav-link all-text">All</a>
        </li>
        <li class="nav-item mx-4">
          <a class="nav-link mx-4">Active</a>
        </li>
        <li class="nav-item mx-4">
          <a class="nav-link">Resolved</a>
        </li>
      </ul>
    <div class="row">
        <div class="col-md-4">
            <div class="card amazon-card mt-3">
                <div class="card-header">
                  <div class="d-flex">
                    <h5 class="Lane-alignment mb-0" title="Lane alignment (Polyline)">How do I understand which objects I need to annotate
                    </h5>
                    <div class="ms-auto my-auto d-flex"><span
                        class="rating mx-1">Ticket ID:</span><span class="rating-value">100343</span> </div>
                  </div>
                </div>
                <div class="card-body">
                    <p class="task-text">Task program</p>
                    <div class="row">
                        <div class="col-md-8">
                    <p class="Lane-alignments">Object identification (Mixed)</p>
                </div>
                <div class="col-md-4">
                    <div>
                        <ul class="taskul ">
                          <li class=" align-self-end">Task</li>
                          <li class="taskbg">10</li>
                        </ul>
                      </div>
                </div>
                </div>
                  <div class="row">
                    <div class="col-md-12">
                      <div class="line-ul">
                        <ul>
                          <li>Type</li>
                          <li class="gallery-icon"><img src="../../../assets/images/Polyline-1.svg"></li>
                          <li class="gallery-icon"><img src="../../../assets/images/Polyline-2.svg"></li>
                          <li class="gallery-icon"><img src="../../../assets/images/Polyline-3.svg"></li>
                          <li class="gallery-icon"><img src="../../../assets/images/Variant3.svg"></li>
                        </ul>
                        <ul>
                          <li class="car"><img src="../../../assets/images/car-icon.svg"></li>
                          <li>Autonomous vehicle</li>
                        </ul>
                        <ul>
                          <li class="clock"><img src="../../../assets/images/clock-icon.svg"></li>
                          <li>15-20m per task</li>
                        </ul>
                      </div>
                    </div>
                    <div class="col-md-3 my-auto">
                     
                    </div>
                  </div>
                  <div class="row mt-1">
                    <div class="col-md-10">
                    </div>
                  </div>
                  <div class="d-flex cardbtns">
                    <button type="button" class="btn instruction-btn" >View</button>
                        <p class="ms-auto my-auto res-text">Resolved</p>
                  </div>
                </div>
              </div>
        </div>
        <div class="col-md-4">
            <div class="card amazon-card-1 mt-3">
                <div class="card-header">
                  <div class="d-flex">
                    <h5 class="Lane-alignment mb-0 " title="Lane alignment (Polyline)">I am having problem understanding annotations
                    </h5>
                    <div class="ms-auto my-auto d-flex"><span
                        class="rating mx-1">Ticket ID:</span><span class="rating-value">100421</span> </div>
                  </div>
                </div>
                <div class="card-body">
                    <p class="task-text">Task program</p>
                    <div class="row">
                        <div class="col-md-8">
                    <p class="Lane-alignments">Object identification (Lidar)</p>
                </div>
                <div class="col-md-4">
                    <div>
                        <ul class="taskul">
                          <li class=" align-self-center">Task</li>
                          <li class="taskbg">5</li>
                        </ul>
                      </div>
                </div>
                </div>
                  <div class="row">
                    <div class="col-md-12">
                      <div class="line-ul">
                        <ul>
                          <li>Type</li>
                          <li class="gallery-icon"><img src="../../../assets/images/laserbeam.svg"></li>
                        </ul>
                        <ul>
                          <li class="car"><img src="../../../assets/images/car-icon.svg"></li>
                          <li>Autonomous vehicle</li>
                        </ul>
                        <ul>
                          <li class="clock"><img src="../../../assets/images/clock-icon.svg"></li>
                          <li>15-20m per task</li>
                        </ul>
                      </div>
                    </div>
                    <div class="col-md-3 my-auto">
                     
                    </div>
                  </div>
                  <div class="row mt-1">
                    <div class="col-md-10">
                    </div>
                  </div>
                  <div class="d-flex cardbtns">
                    <button type="button" class="btn Resolve-btn ">Resolve query</button>
                  </div>
                </div>
              </div>
        </div>
        <div class="col-md-4">

        </div>
    </div>
</div>

<div class="footer">
   
</div>