<button mat-button mat-dialog-close>X</button>

<h1 mat-dialog-title>Share upload link</h1>
<table class="table table-borderless">
    <thead>
      <tr>
        <th scope="col">Program ID</th>
        <th scope="col">Program Title</th>
        <th scope="col">Category</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">0001</th>
        <td>Title</td>
        <td>Labelling</td>
      </tr>
    </tbody>
  </table>
<div mat-dialog-content>
Proram data URL
</div>

<div mat-dialog-content>
    Select client contacts
    </div>
<div mat-dialog-actions>
  
    <button mat-button mat-dialog-close cdkFocusInitial>Cancel</button>
  <button mat-button mat-dialog-close cdkFocusInitial>Share</button>
</div>
