
<div class="container-fluid p-0">
    <div class="bgblue-color">
        <div class="container p-0">
            <h4 class="hi-user text-white">Hi {{UserName}}, </h4>
            <p class="user-text text-white">Peopletech’s data platform is engineered to help you improve your training
                data
                addition and iteration loop with the ability to Annotate data, Diagnose model performance, and
                Prioritize based on your
                results.</p>
        </div>
    </div>
</div>
<div class="container mt-3">
    <div class="row">
        <div class="col-md-4">
            <div class="card box shadow  resp-space">
                <div class="card-header pe-1">
                    <div class="d-flex">
                        <h6 class="User-onboarded mb-0">Tasks</h6>
                        <div class="selectmonth">
                            <span class="align-self-center font13">Show:</span>
                            <select class="form-select font13">
                                <option>This month</option>
                                <option>August</option>
                                <option>July</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="card-body my-5">
                    <div class="row">
                        <div class="col-md-7">
                            <div class="internal-pad-1">
                                <span class="font25 mt-2">90<span class="percentage-symbol">%</span></span>
                            </div>
                        </div>
                        <div class="col-md-5 status-color">
                            <ul class="clr-list ">
                                <li class="side-text"><img src="../assets/images/Ellipse 1.png"> Active</li>
                                <li class="side-text"><img src="../assets/images/Ellipse 2.png"> Completed & Sent for<span class="sent-review-text mx-2">review </span></li>
                                <li class="side-text"><img src="../assets/images/Ellipse 3.png"> Approved</li>
                                <li class="side-text"><img src="../assets/images/Ellipse 4.png"> Rejected</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card box shadow  resp-space">
                <div class="card-header pe-1">
                    <div class="d-flex">
                        <h6 class="User-onboarded mb-1">Programs v/s Time spent</h6>
                        <div class="selectmonth">
                            <span class="align-self-center font13">Show:</span>
                            <select class="form-select font13">
                                <option>This month</option>
                                <option>August</option>
                                <option>July</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-6">
                            <p class="program-text">Programs</p>
                            <h4 class="zero">4</h4>
                            <p class="available-text-1">
                                < 33% of available</p>
                                    <p class="product-text">Data collection</p>
                                    <p class="product-text">Text annotation</p>
                                    <p class="product-text">Face detection</p>
                        </div>
                        <div class="col-md-6">
                            <p class="time-text">Time spent</p>
                            <h4 class="zero">50m</h4>
                            <p class="available-text-2">80% of total time</p>
                            <ul class="range-count mb-0">
                                <li>40</li>
                                <li>50</li>
                            </ul>
                            <div class="progress color-progress mt-1">
                                <div class="progress-bar1" style="width:60%"></div>
                            </div>
                            <ul class="range-count mb-0 mt-2">
                                <li>7</li>
                                <li>14</li>
                            </ul>
                            <div class="progress color-progress mt-1">
                                <div class="progress-bar1" style="width:50%"></div>
                            </div>
                            <ul class="range-count mb-0 mt-2">
                                <li>3</li>
                                <li>6</li>
                            </ul>
                            <div class="progress color-progress mt-1">
                                <div class="progress-bar1" style="width:30%"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card box shadow  resp-space">
                <div class="card-header">
                    <h6 class="profile my-2">Profile</h6>
                    <p class="rating-text"><img src="../assets/images/star.png"> Rating: <span class="number-3">3</span></p>
                </div>
                <div class="card-body">
                    <div class="text-center">
                        <img class="user-icon " src="../assets/images/account_circle.png">
                        <h6 class="user-name">Andrew Smith</h6>
                        <p class="admin-type">Crowd</p>
                    </div>
                    <p class="profile-text m-0">Profile completion</p>
                    <div class="row top-contact">
                        <div class="col-md-4 text-start">
                            <p class="percentage">100%</p>
                        </div>
                        <div class="col-md-4 text-center ">
                            <p class="p-name">Profile</p>
                        </div>
                    </div>
                    <div class="progress progress-bar">
                        <div class="progress-bar bg-success" style="width:100%; height: 150%;">
                        </div>

                    </div>
                    <div class="row">
                        <div class="col-md-6 text-start">
                            <p class="completed">Completed</p>
                        </div>
                    </div>
                    <p class="review-text">Reviews</p>
                    <img src="../assets/images/heart-icon.svg"> <span class="zero-number mx-3">8</span><span
                        class="review-text">(3 of 4 programs)</span>
                    <img src="../assets/images/graph-sme.png" width="90%">
                    <div class="row">
                        <div class="col-md-6">
                            <p class="review-text-1">T-Put</p>
                            <img src="../assets/images/t-put-icon.svg"> <span class="zero-number mx-3">20</span>
                        </div>
                        <div class="col-md-6">
                            <p class="review-text-1">Task Score</p>
                            <img src="../assets/images/task-score-icon.svg"> <span class="zero-number mx-3">36.9</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <p class="review-text-1 mt-1">Earnings</p>
                            <img src="../assets/images/dollar-symbol1.svg"> <span class="zero-number mx-3">0.00</span>
                        </div>
                        <div class="col-md-6 mt-3">
                            <p class="empty-text"> </p>
                            <img src="../assets/images/dollar-symbol2.svg"> <span class="zero-number mx-3">3.74</span><span class="hold-text">(hold)</span>
                        </div>
                    </div>
                    <!-- <div class="row">
                        <div class="col-md-6">
                            <p class="review-text">Earnings</p>
                            <img src="../assets/images/t-put-icon.svg"> <span class="zero-number mx-3">0.00</span>
                        </div>
                        <div class="col-md-6">
                            <p class="review-text"></p>
                            <img src="../assets/images/task-score-icon.svg"> <span class="zero-number mx-3">3.74(hold)</span>
                        </div>
                    </div> -->
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card box shadow  resp-space-graph">
                <div class="card-header pe-1">
                    <div class="d-flex">
                        <h6 class="User-onboarded mb-0">Training</h6>
                        <div class="selectmonth">
                            <span class="align-self-center font13">Show:</span>
                            <select class="form-select font13">
                                <option>Weekly</option>
                                <option>August</option>
                                <option>July</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-4">
                            <p class="graph-text1"><span class="color-box">---</span> In progress</p>
                            <p class="graph-number mx-5">4</p>
                            <p class="graph-text1"><span class="color-box-1">---</span> Completed</p>
                            <p class="graph-number mx-5">3</p>
                        </div>
                        <div class="col-md-8 ">
                            <img src="../assets/images/crowd-graph.JPG" width="100%">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card box shadow  resp-space-graph">
                <div class="card-header pe-1">
                    <div class="d-flex">
                        <h6 class="User-onboarded">Time taken on task categories</h6>
                        <div class="selectmonth">
                            <span class="align-self-center font13">Show:</span>
                            <select class="form-select font13">
                                <option>Weekly</option>
                                <option>August</option>
                                <option>July</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <img src="../assets/images/Ellipse 1.png"><span class="average-text"> Average time(h)</span>
                    <img class="mt-1" src="../assets/images/collection-graphs.JPG" width="100%">
                </div>
            </div>
        </div>
    </div>
</div>
<div class="mt-5">
   
</div>