
<div class="container">
  <button class="close" mat-button (click)="onNoClick()">X</button>
  <div class="row p-0">
    <h4 class="mb-0 instrs-header">Instructions</h4>
    <div>
      <p class="mt-2 sub-para">Your task is to collect images of festival - diwali</p>
      <ul class="my-4">
        <li>Collect 15 images of the mentioned dimensions below</li>
        <li> Images should be in landscape view</li>
        <li> Images to be uploaded should abide by the guidelines and all statutory obligations</li>
        <li>All images should relate to the main subject matter or the requirement </li>
      </ul>
      <p>Sample of images below</p>
      <div class="row">
        <div class="col-md-3">
          <img src="../../../assets/images/divyas-img1.svg"  width="100%" height="100%">
        </div>
        <div class="col-md-3">
          <img src="../../../assets/images/sparkle-img2.svg"  width="100%" height="100%">
        </div>
        <div class="col-md-3">
          <img src="../../../assets/images/girl-idya-img.svg"  width="100%" height="100%">
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <p class="my-4 sub-para">Our terms of use</p>
    <div>
      <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus.
        At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est
        laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus.</p>
    </div>
  </div>
  <div class="footer-closebtn">
      <button class="closebtn" type="button" (click)="onNoClick()">Close</button>
  </div>
</div>
