.close.mat-button {
  position: absolute;
  top: 35px;
  right: 2rem;
  padding: 5px;
  line-height: 14px;
  min-width: auto;
}
.instrs-header{
  color: #000000;
  font-weight: 500;
}
.sub-para{
  font-weight: bold;
}
.closebtn{
  padding: 0.5rem 1.5rem;
  border-radius: 35px;
  font-size: 15px;
  box-shadow: none !important;
  background-color: #A72037;
  color: #fff;
  border: 1px solid #A72037;
  float: right;
  margin-top: 120px;
}
