.footer{
    margin-top: 100px;
  }
  .thead-bg{
    background-color: #f0f0f0;
  }
  td{
    font-family: 'Inter', sans-serif;
font-style: normal;
font-weight: 400;
font-size: 16px;
color: rgba(0, 0, 0, 0.87);
  }
  th{
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;;
    color: rgba(0, 0, 0, 0.87);
    border-bottom: 2px solid transparent !important;
  }
  .eye-color{
      color: #448087;
      cursor: pointer;
    }
  .sme-tbl{
    max-width: 100%;
    overflow-x: auto;
  }
  .display{
    display: flex;
  }
  .edit-icon i{
      margin-left: .6rem;
      color: #9A9A9A;
  }
  a {
      color: #2467AA;
      text-decoration: none;
      font-size: 16px;
    }
  .dashboard-bg{
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    color: #2467AA;
    cursor: pointer;
  }
  .table thead th{
    min-width: 100px;
  }
  .analytics-text{
    font-family: 'Inter', sans-serif;
font-style: normal;
font-weight: 400;
font-size: 16px;
color: rgba(0, 0, 0, 0.87);
  }
  .qa-text{
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    color: #0F0F0F;
  }
  .month {
    color: skyblue;
  }
  .font25{
    font-size: 26px;
    font-weight: bold;
  }
  .active {
    margin-bottom: 0;
    font-size: 12px;
    line-height: 16px;
  }
  
  .card-header{
    background-color: #fff;
    padding: 1rem;
  }
  .clr-list{
    padding: 0;
    margin: 0;
    list-style: none;
    font-size: 14px;
  }
  .selectmonth{
    padding: 0;
    min-width: 120px;
    margin-left: auto;
    border: none;
    display: flex;
    font-family: ''Inter', sans-serif';
font-style: normal;
font-weight: 400;
font-size: 12px; 
    .form-select{
      border: none;
      padding: 0.075rem 1.95rem 0.075rem 0.45rem;
      color: #2dc4ff;
      box-shadow: none !important;
      text-align: left;
      font-family: ''Inter', sans-serif';
font-style: normal;
font-weight: bold;
font-size: 12px;
    }
    .font13{
      font-family: ''Inter', sans-serif';
      font-style: normal;
      font-weight: 400;
      font-size: 12px;
      line-height: 16px;
    }
  }
  .internal-pad{
    font-size: 25px;
    width: 105px;
    border-radius: 100px;
    border: 3px solid #ccc;
  }
  .User-onboarded{
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    color: #192A3E;
  }
  .form-select{
    appearance:none;
    -webkit-appearance:none;
    -moz-appearance:none;
    -ms-appearance:none;
      background-position: calc(100% - 12px) center !important;
      background: url("data:image/svg+xml,<svg height='10px' width='10px' viewBox='0 0 16 16' fill='%23000000' xmlns='http://www.w3.org/2000/svg'><path d='M7.247 11.14 2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z'/></svg>") no-repeat;
      padding: 8px 32px 8px 16px;
     
  }
  /* To remove the arrow of select element in IE */
  .form-select::-ms-expand {
    display: none;
  }

.Data-collection-text{
  font-family: 'Inter', sans-serif;
font-style: normal;
font-weight: 400;
font-size: 16px;
color: #2467AA;
}
.completed-text{
  font-family: ''Inter', sans-serif';
font-style: normal;
font-weight: 400;
font-size: 12px;
}
.ellipse-image{
  width: 11px;
  height: 11px;
  margin-top: 5px;
}
tr td {
  border-bottom: 1px solid black;
  }