<div class="container-fluid">
    <h4 class="autonomous mt-4">Autonomous vehicle AI</h4>
    <div class="row">
        <div class="col-md-2">
            <h3>Statistics</h3>
        </div>
        <div class="col-md-2">
            <div class="form-group">
                <label for="Task-types">Task types </label>
                <select id="Task-types " name="Task-types ">
                    <option value="select">Select</option>
                    <option value="Image">Image</option>
                    <option value="Video">Video</option>
                    <option value="Text">Text</option>
                    <option value="Collection">Collection</option>
                    <option value="Maps">Maps</option>
                </select>
            </div>
        </div>
        <div class="col-md-4">
        </div>
        <div class="col-md-4">
            <button type="button" class="Addtask-btn btn"><img
                    src="https://img.icons8.com/external-sbts2018-flat-sbts2018/58/000000/external-correct-basic-ui-elements-2.2-sbts2018-flat-sbts2018.png"
                    width="20px"> Add Task</button>
            <button type="button" class="Search-btn btn mx-4"> Search <img class="search-icon"
                    src="https://img.icons8.com/ios-glyphs/30/000000/search--v1.png" width="20px"></button>
        </div>
    </div>
</div>

<!-- cards section -->

<div class="container-fluid mt-4">
    <div class="row">
        <div class="col-md-4">
            <div class="card-body box shadow ">
                <div class="d-flex">
                    <h3 class="vehicle-text">Lane alignment (Polyline)</h3>
                    <p class="mx-3 mt-1 d-flex"><img class="mt-1"
                            src="https://img.icons8.com/external-inkubators-blue-inkubators/25/000000/external-tag-ecommerce-user-interface-inkubators-blue-inkubators.png"
                            height="15px" width="15px">EXAM</p>
                    <p class="rating mt-1">Rating:<span class="number-4">4</span></p>
                </div>
                <!-- <div class="empty">
            </div> -->
                <div class="d-flex">
                    <h3 class="bounding mx-4"> Type <img src="../assets/images/Polyline.png" width="20px">
                        <img src="../assets/images/bounding.png" width="20px">
                        <img class="mx-3" src="../assets/images/car.png" width="20px">Autonomous vehicle
                        <img src="../assets/images/clock.png" width="20px">2-3m per task</h3>
                    <p>Tasks <span class="number-20">10</span></p>
                </div>

                    <p class="collapse-btn btn" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                        <img src="../assets/images/down-arrow.png" width="25px">
                    </p>

                  <div class="collapse" id="collapseExample">
                    <div class="card card-body">
                        In this project user needs to identify and label lanes on a road which are single lane, double lane, broken, edge of the road etc.
                    </div>
                  </div>
                  <button type="button" class="Instructions-btn btn "> Instructions
                    </button>
                    <button type="button" class="View-btn text-white mx-3 mt-3"> View</button>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card-body box shadow">
                <div class="d-flex">
                    <h3 class="vehicle-text">Vehicle identification (Bounding box)</h3>
                    <p class="mx-3 mt-1 d-flex"><img class="mt-1"
                            src="https://img.icons8.com/external-inkubators-blue-inkubators/25/000000/external-tag-ecommerce-user-interface-inkubators-blue-inkubators.png"
                            height="15px" width="15px">EXAM</p>
                    <p class="rating mt-1">Rating:<span class="number-4">4</span></p>
                </div>
                <!-- <div class="empty">
            </div> -->
                <div class="d-flex">
                    <h3 class="bounding mx-4"> Type <img src="../assets/images/Polyline.png" width="20px">
                        <img src="../assets/images/bounding.png" width="20px">
                        <img class="mx-3" src="../assets/images/car.png" width="20px">Autonomous vehicle
                        <img src="../assets/images/clock.png" width="20px">2-3m per task</h3>
                    <p>Tasks <span class="number-20">20</span></p>
                </div>

                    <p class="collapse-btn btn" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                        <img src="../assets/images/down-arrow.png" width="25px">
                    </p>

                  <div class="collapse" id="collapseExample">
                    <div class="card card-body">
                        Label all types of vehicles under different categories as cars, buses, truck, scooter, bike, bicycle.
                    </div>
                  </div>
                  <button type="button" class="Instructions-btn btn "> Instructions
                    </button>
                    <button type="button" class="View-btn text-white mx-3 mt-3"> View</button>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card-body box shadow">
                <div class="d-flex">
                    <h3 class="vehicle-text">Human identification (Polygon)</h3>
                    <p class="mx-3 mt-1 d-flex"><img class="mt-1"
                            src="https://img.icons8.com/external-inkubators-blue-inkubators/25/000000/external-tag-ecommerce-user-interface-inkubators-blue-inkubators.png"
                            height="15px" width="15px">EXAM</p>
                    <p class="rating mt-1">Rating:<span class="number-4">4</span></p>
                </div>
                <!-- <div class="empty">
            </div> -->
                <div class="d-flex">
                    <h3 class="bounding mx-4"> Type <img src="../assets/images/Polyline.png" width="20px">
                        <img src="../assets/images/bounding.png" width="20px">
                        <img class="mx-3" src="../assets/images/car.png" width="20px">Autonomous vehicle
                        <img src="../assets/images/clock.png" width="20px">2-3m per task</h3>
                    <p>Tasks <span class="number-20">20</span></p>
                </div>

                    <p class="collapse-btn btn" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                        <img src="../assets/images/down-arrow.png" width="25px">
                    </p>

                  <div class="collapse" id="collapseExample">
                    <div class="card card-body">
                        Label human figures by accurately defining the shapes with the help of polygon tool and labelling out by type.
                    </div>
                  </div>
                  <button type="button" class="Instructions-btn btn "> Instructions
                    </button>
                    <button type="button" class="View-btn text-white mx-3 mt-3"> View</button>
            </div>
        </div>
    </div>
</div>


<!-- card section-2 -->

<div class="container-fluid mt-4">
    <div class="row">
        <div class="col-md-4">
            <div class="card-body box shadow ">
                <div class="d-flex">
                    <h3 class="vehicle-text">Cafe/Restaurant  identification(Bounding box)</h3>
                    <p class="mx-3 mt-1 d-flex"><img class="mt-1"
                            src="https://img.icons8.com/external-inkubators-blue-inkubators/25/000000/external-tag-ecommerce-user-interface-inkubators-blue-inkubators.png"
                            height="15px" width="15px">EXAM</p>
                    <p class="rating mt-1">Rating:<span class="number-4">4</span></p>
                </div>
                <!-- <div class="empty">
            </div> -->
                <div class="d-flex">
                    <h3 class="bounding mx-4"> Type <img src="../assets/images/Polyline.png" width="20px">
                        <img src="../assets/images/bounding.png" width="20px">
                        <img class="mx-3" src="../assets/images/car.png" width="20px">Autonomous vehicle
                        <img src="../assets/images/clock.png" width="20px">2-3m per task</h3>
                    <p>Tasks <span class="number-20">10</span></p>
                </div>

                    <p class="collapse-btn btn" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                        <img src="../assets/images/down-arrow.png" width="25px">
                    </p>

                  <div class="collapse" id="collapseExample">
                    <div class="card card-body">
                        Task deals with labelling all cafeteria appearing beside a road.
                    </div>
                  </div>
                  <button type="button" class="Instructions-btn btn "> Instructions
                    </button>
                    <button type="button" class="View-btn text-white mx-3 mt-3"> View</button>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card-body box shadow">
                <div class="d-flex">
                    <h3 class="vehicle-text">Object Identification (Mixed)</h3>
                    <p class="mx-3 mt-1 d-flex"><img class="mt-1"
                            src="https://img.icons8.com/external-inkubators-blue-inkubators/25/000000/external-tag-ecommerce-user-interface-inkubators-blue-inkubators.png"
                            height="15px" width="15px">EXAM</p>
                    <p class="rating mt-1">Rating:<span class="number-4">4</span></p>
                </div>
                <!-- <div class="empty">
            </div> -->
                <div class="d-flex">
                    <h3 class="bounding mx-4"> Type <img src="../assets/images/Polyline.png" width="20px">
                        <img src="../assets/images/bounding.png" width="20px">
                        <img class="mx-3" src="../assets/images/car.png" width="20px">Autonomous vehicle
                        <img src="../assets/images/clock.png" width="20px">2-3m per task</h3>
                    <p>Tasks <span class="number-20">20</span></p>
                </div>

                    <p class="collapse-btn btn" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                        <img src="../assets/images/down-arrow.png" width="25px">
                    </p>

                  <div class="collapse" id="collapseExample">
                    <div class="card card-body">
                        Label all street objects and group them into multiple categories as much as possible.
                    </div>
                  </div>
                  <button type="button" class="Instructions-btn btn "> Instructions
                    </button>
                    <button type="button" class="View-btn text-white mx-3 mt-3"> View</button>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card-body box shadow">
                <div class="d-flex">
                    <h3 class="vehicle-text">Object Identification (Lidar)</h3>
                    <p class="mx-3 mt-1 d-flex"><img class="mt-1"
                            src="https://img.icons8.com/external-inkubators-blue-inkubators/25/000000/external-tag-ecommerce-user-interface-inkubators-blue-inkubators.png"
                            height="15px" width="15px">EXAM</p>
                    <p class="rating mt-1">Rating:<span class="number-4">4</span></p>
                </div>
                <!-- <div class="empty">
            </div> -->
                <div class="d-flex">
                    <h3 class="bounding mx-4"> Type <img src="../assets/images/Polyline.png" width="20px">
                        <img src="../assets/images/bounding.png" width="20px">
                        <img class="mx-3" src="../assets/images/car.png" width="20px">Autonomous vehicle
                        <img src="../assets/images/clock.png" width="20px">2-3m per task</h3>
                    <p>Tasks <span class="number-20">20</span></p>
                </div>

                    <p class="collapse-btn btn" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                        <img src="../assets/images/down-arrow.png" width="25px">
                    </p>

                  <div class="collapse" id="collapseExample">
                    <div class="card card-body">
                        Label moving objects in the road which can be of different types.
                    </div>
                  </div>
                  <button type="button" class="Instructions-btn btn "> Instructions
                    </button>
                    <button type="button" class="View-btn text-white mx-3 mt-3"> View</button>
            </div>
        </div>
    </div>
</div>



<!-- card section-3 -->

<div class="container-fluid mt-4">
    <div class="row">
        <div class="col-md-4">
            <div class="card-body box shadow ">
                <div class="d-flex">
                    <h3 class="vehicle-text">Street sign annotation (Bounding box)</h3>
                    <p class="mx-3 mt-1 d-flex"><img class="mt-1"
                            src="https://img.icons8.com/external-inkubators-blue-inkubators/25/000000/external-tag-ecommerce-user-interface-inkubators-blue-inkubators.png"
                            height="15px" width="15px">EXAM</p>
                    <p class="rating mt-1">Rating:<span class="number-4">4</span></p>
                </div>
                <!-- <div class="empty">
            </div> -->
                <div class="d-flex">
                    <h3 class="bounding mx-4"> Type <img src="../assets/images/Polyline.png" width="20px">
                        <img src="../assets/images/bounding.png" width="20px">
                        <img class="mx-3" src="../assets/images/car.png" width="20px">Autonomous vehicle
                        <img src="../assets/images/clock.png" width="20px">2-3m per task</h3>
                    <p>Tasks <span class="number-20">10</span></p>
                </div>

                    <p class="collapse-btn btn" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                        <img src="../assets/images/down-arrow.png" width="25px">
                    </p>

                  <div class="collapse" id="collapseExample">
                    <div class="card card-body">
                        Identify relevant street signs in a traffic environment
                    </div>
                  </div>
                  <button type="button" class="Instructions-btn btn "> Instructions
                    </button>
                    <button type="button" class="View-btn text-white mx-3 mt-3"> View</button>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card-body box shadow">
                <div class="d-flex">
                    <h3 class="vehicle-text">Danger sign identification (Mixed)</h3>
                    <p class="mx-3 mt-1 d-flex"><img class="mt-1"
                            src="https://img.icons8.com/external-inkubators-blue-inkubators/25/000000/external-tag-ecommerce-user-interface-inkubators-blue-inkubators.png"
                            height="15px" width="15px">EXAM</p>
                    <p class="rating mt-1">Rating:<span class="number-4">4</span></p>
                </div>
                <!-- <div class="empty">
            </div> -->
                <div class="d-flex">
                    <h3 class="bounding mx-4"> Type <img src="../assets/images/Polyline.png" width="20px">
                        <img src="../assets/images/bounding.png" width="20px">
                        <img class="mx-3" src="../assets/images/car.png" width="20px">Autonomous vehicle
                        <img src="../assets/images/clock.png" width="20px">2-3m per task</h3>
                    <p>Tasks <span class="number-20">20</span></p>
                </div>

                    <p class="collapse-btn btn" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                        <img src="../assets/images/down-arrow.png" width="25px">
                    </p>

                  <div class="collapse" id="collapseExample">
                    <div class="card card-body">
                        Figure out possibility of all sorts of danger elements in a road
                    </div>
                  </div>
                  <button type="button" class="Instructions-btn btn "> Instructions
                    </button>
                    <button type="button" class="View-btn text-white mx-3 mt-3"> View</button>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card-body box shadow">
                <div class="d-flex">
                    <h3 class="vehicle-text">Lane Identification (Polyline)</h3>
                    <p class="mx-3 mt-1 d-flex"><img class="mt-1"
                            src="https://img.icons8.com/external-inkubators-blue-inkubators/25/000000/external-tag-ecommerce-user-interface-inkubators-blue-inkubators.png"
                            height="15px" width="15px">EXAM</p>
                    <p class="rating mt-1">Rating:<span class="number-4">4</span></p>
                </div>
                <!-- <div class="empty">
            </div> -->
                <div class="d-flex">
                    <h3 class="bounding mx-4"> Type <img src="../assets/images/Polyline.png" width="20px">
                        <img src="../assets/images/bounding.png" width="20px">
                        <img class="mx-3" src="../assets/images/car.png" width="20px">Autonomous vehicle
                        <img src="../assets/images/clock.png" width="20px">2-3m per task</h3>
                    <p>Tasks <span class="number-20">20</span></p>
                </div>

                    <p class="collapse-btn btn" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                        <img src="../assets/images/down-arrow.png" width="25px">
                    </p>

                  <div class="collapse" id="collapseExample">
                    <div class="card card-body">
                        In this project user needs to identify and label lanes on a road which are broken.
                    </div>
                  </div>
                  <button type="button" class="Instructions-btn btn "> Instructions
                    </button>
                    <button type="button" class="View-btn text-white mx-3 mt-3"> View</button>
            </div>
        </div>
    </div>
</div>
