<div class="container-fluid px-5">
  <div class=" mb-2 mt-5">
    <p class=""><span class="dashboard-bg" routerLink="/dashboard">Dashboard</span><span> > User analytics</span></p>
    <h3 class="manager mb-0">Manager</h3>
  </div>
  <div class="row">
    <div class="col-md-9">
      <div class="manager-tbl bg-white">
        <table class="table mb-0">
          <thead class="thead-bg">
            <tr>
              <th>Program</th>
              <th>Tasks </th>
              <th>No. of Assigned users</th>
              <th>Assigned users</th>
              <th>Program provider</th>
              <th>Managed by</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td><a href="javascript:void(0)" routerLink="/product-classification-table">Product classification</a>
              </td>
              <td>10</td>
              <td>3</td>
              <td>Crowd,SME,QA</td>
              <td>Amazon</td>
              <td>Anne Brown {{UserName}}<span class="edit-icon"><i class='fas fa-pen pen-color'></i></span></td>
              <td align="right"><i class="fa fa-eye eye-color"></i></td>
            </tr>
            <tr>
              <td><a href="javascript:void(0)">Data Collection (images)</a></td>
              <td>2</td>
              <td>2</td>
              <td>Crowd, QA</td>
              <td>Amazon, Google</td>
              <td>Anne Brown <span class="edit-icon"><i class='fas fa-pen pen-color'></i></span></td>
              <td align="right"><i class="fa fa-eye eye-color"></i></td>
            </tr>
            <tr>
              <td><a href="javascript:void(0)" routerLink="/product-classification-table">Product classification</a>
              </td>
              <td>10</td>
              <td>3</td>
              <td>Crowd,SME,QA</td>
              <td>Amazon</td>
              <td>Anne Brown {{UserName}}<span class="edit-icon"><i class='fas fa-pen pen-color'></i></span></td>
              <td align="right"><i class="fa fa-eye eye-color"></i></td>
            </tr>
            <tr>
              <td><a href="javascript:void(0)" routerLink="/product-classification-table">Product classification</a>
              </td>
              <td>10</td>
              <td>3</td>
              <td>Data analyst, SME, QA</td>
              <td>Apple, Amazon, Google</td>
              <td>Anne Brown<span class="edit-icon"><i class='fas fa-pen pen-color'></i></span></td>
              <td align="right"><i class="fa fa-eye eye-color"></i></td>
            </tr>
            <tr>
              <td><a href="javascript:void(0)" routerLink="/product-classification-table">Product classification</a>
              </td>
              <td>10</td>
              <td>3</td>
              <td>Data analyst, SME, QA</td>
              <td>Amazon, Google</td>
              <td>Anne Brown<span class="edit-icon"><i class='fas fa-pen pen-color'></i></span></td>
              <td align="right"><i class="fa fa-eye eye-color"></i></td>
            </tr>
            <tr>
              <td><a href="javascript:void(0)" routerLink="/product-classification-table">Product classification</a>
              </td>
              <td>10</td>
              <td>3</td>
              <td>Crowd,SME,QA</td>
              <td>Amazon</td>
              <td>Anne Brown<span class="edit-icon"><i class='fas fa-pen pen-color'></i></span></td>
              <td align="right"><i class="fa fa-eye eye-color"></i></td>
            </tr>
            <tr>
              <td><a href="javascript:void(0)" routerLink="/product-classification-table">Product classification</a>
              </td>
              <td>10</td>
              <td>3</td>
              <td>Data analyst, SME, QA</td>
              <td>Microsoft</td>
              <td>Anne Brown<span class="edit-icon"><i class='fas fa-pen pen-color'></i></span></td>
              <td align="right"><i class="fa fa-eye eye-color"></i></td>
            </tr>
            <tr>
              <td><a href="javascript:void(0)" routerLink="/product-classification-table">Object identification
                  (Lidar)</a></td>
              <td>0</td>
              <td>3</td>
              <td>Data analyst, SME, QA</td>
              <td>Amazon, Microsoft</td>
              <td>Anne Brown<span class="edit-icon"><i class='fas fa-pen pen-color'></i></span></td>
              <td align="right"><i class="fa fa-eye eye-color"></i></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="col-md-3">
      <!-- <app-user-count-card></app-user-count-card> -->
      <!-- <div class="mt-3">
        <div class="card-body">
            <div class="card-header pe-1">
              <div class="d-flex">
                <h6 class="Client-Workflows mb-0">Overall task assignment</h6>
                <div class="selectmonth">
                  <span class="align-self-center font13">Show:</span>
                   <span class="form-select font13" data-bs-toggle="dropdown">This month</span>
                          <ul class="dropdown-menu">
                            <li><a class="dropdown-item">August</a></li>
                            <li><a class="dropdown-item">July</a></li>
                          </ul>
                </div>
              </div>
            </div>
            <img src="../assets/images/graph-image.jpg" class="" width="">
          </div>
      </div> -->

      <div>
        <div class="card box shadow  resp-space">
            <div class="card-header pe-1">
              <div class="d-flex">
                <h6 class="User-onboarded mb-0">Overall task completion</h6>
                <div class="selectmonth">
                  <span class="align-self-center font13">Show:</span>
                  <select class="form-select font13">
                    <option>Weekly</option>
                    <option>August</option>
                    <option>July</option>
                  </select>
                </div>
              </div>
            </div>
            <div class="card-body">
              <span class="d-flex">
                <img class="ellipse-image"  src="../assets/images/Ellipse 1.png"><span class="completed-text mx-2"> Completed</span>
              </span>
              <img src="../assets/images/polar-graph.JPG" width="100%">
            </div>
          </div>
          
      </div>
    </div>
  </div>
</div>
